

.right {
    animation: moveUpOnLoad 1s ease-out;
}

.right>ul {
    padding-left: 0;
    margin-block: 0;
    animation: moveUpOnLoad 1s ease-out;
    
}

.square {
    width: 10px;
    height: 3px;
    background-color: var(--yellow-color);
}

.right--components-heading {
    margin-top: 48px;
    margin-bottom: 0 !important;
}

.right--tips-heading {
    margin-top: 80px;
    margin-bottom: 0 !important;
}

.right--components-subheading,
.right--tips-subheading {
    margin-top: 0;
    margin-bottom: 24px;
}

.right--components li {
    margin-block: 20px;
}

/* accessible components */
.component-title {
    font-size: 1.2rem;
    font-weight: 500;
    margin-block: 0;
    display: inline-block;
    position: relative;
}

.component-title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px; 
    background-color: var(--text-dark-color);
    transition: width 0.5s; 
}

.component-title:hover::before {
    width: 100%; 
}

.vs {
    font-size: 0.9rem;
    font-weight: 600;
}

.tip-title {
    display: flex;
    align-items: center;
    width: 100%;
}
