.tip {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: start;
    margin-block: 15px;
}

.tip-button {
    background: none;
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0;
    cursor: pointer;
    width: auto;
    display: flex;
    justify-content: start;
    gap: 8px;
    align-items: baseline;
    position: relative;
}

.dash {
    width: 10px;
    height: var(--yellow-border);
    background-color: var(--yellow-color);
}

.tip-button::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px; 
    background-color: var(--text-dark-color);
    transition: width 0.5s; 
}

.tip-button:hover::before {
    width: 100%; 
}

