
.modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal h3 {
    font-size: 1.3rem;
    align-self: center;
    text-align: center; 
}

.modal h4 {
    margin-bottom: 16px;
}

.modal h4, .modal div p {
    align-self: flex-start;
    text-align: left; 
}

.modal button {
    align-self: center;
    text-align: center;
    width: 10rem;
    margin-top: 20px;
    color: var(--text-light-color);
    font-weight: 500;
    font-size: 1.1rem;
    padding: 4px 24px;
    background-color: var(--text-dark-color);
    cursor: pointer;
    border: none;
}

.modal button:hover {
    background-color: var(--yellow-color);
    color: var(--text-dark-color);
}

.tip-description-div {
    padding-left: 16px;
    border-left: var(--yellow-border) solid var(--yellow-color);
    margin-bottom: 48px;
}

.tip-description-div p:first-child{
    margin-top: 0;
}

.tip-description-div p:last-child{
    margin-bottom: 0;
}



