
.we-can-help {
    background-color: var(--code-bg-color);
    /* border: var(--border-for-dark); */
    color: var(--cream-color);
    padding: 25px 40px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* margin-inline: var(--main-margin); */
}

/* .we-can-help .dark {
    border: 2px solid var(--cream-color);
} */

.we-can-help ul {
    padding-inline-start: 0;
}
.we-can-help ul li {
    padding-bottom: 30px;
    border-bottom: 0.3px solid var(--cream-color);
}

.we-can-help ul li:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
}

/* .we-can-help article:last-child {
    padding-bottom: 0;
    border-bottom: none;
} */

.we-can-help h2 {
    color: var(--cream-color);
    /* set in @media */
    /* font-size: 1.7rem;
    font-weight: 600; */
}

.we-can-help h3 {
    color: var(--cream-color);
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 5px;
}

.we-can-help p {
    color: var(--cream-color);
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 0.4px;
}

.we-can-help a {
    color: var(--yellow-color);
    text-decoration: underline;
    font-weight: 400;
    text-underline-offset: 3px;
    padding: 2px;
    letter-spacing: 0.7px !important;
}

.we-can-help a:hover {
    color: inherit;
    text-decoration: underline;
    /* font-weight: 500; */
    text-decoration-style: wavy;
    text-decoration-color: var(--yellow-color);
}

.we-can-help a:focus-visible {
    text-decoration: none;
    outline: 1.7px solid var(--cream-color);
    outline-offset: 2px;
    border-radius: 7px;
}

.we-can-help svg path {
    fill: var(--yellow-color);
}


@media screen and (min-width: 800px) {
    .we-can-help {
        margin-top: 85px;
        padding: 30px 40px 40px 40px;
        border-radius: 10px;
        margin-inline: var(--main-margin);
    }

    .we-can-help h2 {
        font-size: 1.7rem;
        font-weight: 500;
        margin-bottom: 40px;
    }

    .we-can-help p {
        font-size: 0.9rem;
        line-height: 2;
    }

    .we-can-help ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 80px;
        
    }

    .we-can-help ul li {
        border-bottom: none;
        padding-bottom: 0;
        width: 33.3333%;
    }

    .we-can-help ul li:first-of-type {
        padding-left: 0;
    }

    .we-can-help h3 {
        margin-bottom: 20px;
        margin-top: 0;
    }
    /* .we-can-help.dark {
        border: 2px solid var(--cream-color);
    } */
}

@media screen and (max-width: 799px) {
    .we-can-help {
        gap: 40px;
        /* width: calc(100% + 2*var(--main-margin)); */
        /* margin-inline: calc((-1)*var(--main-margin)); */
        margin-top: 90px;
        padding-inline: var(--main-margin);
        padding-block: 30px;
        border-bottom: 1.5px solid gray;
        /* width: 100%; */
    }

    .we-can-help h2 {
        font-size: 1.7rem;
        font-weight: 600;

    }

    .we-can-help h3 {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    .we-can-help p {
        font-size: 1rem;
        line-height: 1.7;
    }

    .we-can-help ul li:last-of-type {
        border-bottom: none;
        padding-bottom: 80px;
    }
}

/* @media screen and (max-width: 470px) {
    .we-can-help h2 {
        font-size: 2rem;
    }
} */

@media screen and (max-width: 435px) {
    .we-can-help {
        gap: 20px;
    }
    .we-can-help h3 {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 390px) {
    .we-can-help h2 {
        font-size: 1.6rem;
    }
    .we-can-help h3 {
        font-size: 1.3rem;
    }
}



