
.a11y-statement {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-block: 20px;
    width: 45rem;
    margin-inline: auto;
}

.a11y-statement h1 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.5;
}

.a11y-statement h2 {
    font-size: 2rem;
    font-weight: 500;
    /* margin-top: 50px; */
}

.contact--email {
    background-color: var(--text-dark-color);
    padding: 3px 10px 3px 7px;
    color: var( --code-blue-color);
    font-weight: 300;
    margin-left: 5px;
}

@media screen and (max-width: 325px) {
    .contact {
        display: flex;
        flex-direction: column;
    }
    .contact--email {
        margin-left: 0;
    }
    
}

@media screen and (max-width: 800px) {
    .a11y-statement {
        width: calc(100% - var(--main-margin));
        margin-inline: var(--main-margin);
    }

    .a11y-statement h1 {
        font-size: 2.3rem;
        width: calc(100% - var(--main-margin));
    }
    .a11y-statement h2,
    .a11y-statement p {
        width: calc(100% - var(--main-margin));
    }
}

@media screen and (max-width: 340px) {
    .a11y-statement h1 {
        font-size: 2rem;
    }
    
}