.about {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    /* gap: 30px; */
    margin-top: 20px;
    margin-bottom: 50px;
    margin-inline: auto;
    width: 55rem;
}

.about h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}

.about p {
    margin-block: 20px;
}

.about--me {
    display: flex;
    gap: 50px;
    margin-block: 80px;
}


.about--me--image {
    width: 240px;
    height: 240px;
    aspect-ratio: 1/1;  
}

.about--me--image img {
    width: 240px;
    height: 240px;
    border-radius: 50%;
}

.about--me--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    margin-left: 40px;
    width: 65%;
}

.about--me--text h2 {
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.5;
    /* margin-bottom: 30px; */
}

.about--me--text h2:nth-of-type(2) {
    margin-top: 50px;
}

.about--me--text h3 {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.6;
    margin-top: 30px;
    margin-bottom: 10px;
} 

.about a {
    text-decoration: none;
}

.about-cta {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    align-self: flex-start;
    text-decoration: none;
    color: var(--text-dark-color);
    padding: 6px 15px;
    border-radius: 10px;
    border: 1.8px solid var(--text-nav-color);
    width: 17rem;
    margin-top: 5px;
    margin-bottom: 50px;
}

.about-cta--new {
    background-color: var(--hero-lightBlue-faded);
    letter-spacing: 0.5px;
}

.about-cta--know {
    background-color: var(--yellow-color);
}

.about-cta--linkedin {
    background-color: var(--yellow-color);
}

.about-cta svg[id="arrow"] circle {
    fill: var(--text-dark-color);
}

.about-cta svg[id="arrow"] path {
    fill: white;
}

.about-cta svg[id="bug"] {
    display: none; 
  }
  
.about-cta:hover svg[id="arrow"] {
    display: none; 
}

.about-cta:focus-visible svg[id="arrow"] {
    display: none; 
}

.about-cta:hover svg[id="bug"] {
    display: block; 
    fill: var(--text-dark-color);
}

.about-cta:focus-visible svg[id="bug"] {
    display: block; 
    fill: var(--text-dark-color);
}

/* .about--how-to-start {
    background-color: var(--body-bg-color);
} */
/* .about--how-to-start--content {
    padding-left: 20px;
} */
.about--how-to-start--content p:nth-of-type(1) {
    margin-bottom: 0 !important;
}

.about--how-to-start--content p:nth-of-type(2) {
    margin-top: 0 !important;
}

.we-container {
    background-color: var(--text-dark-color);
    display: inline;
    padding: 2px;
}

.web-for-everyone {
    font-family: "Quicksand", sans-serif;
    font-size: 1.21rem;
    font-weight: 700;
}

@media screen and (max-width: 1200px) {
    .about {
        padding-inline: 0;
    }
    .about--me {
        gap: 30px;
    }
    
    .about--me--text {
        margin-left: 40px;
    }
}



@media screen and (max-width: 930px) {
    .about {
        width: calc(100% - 2*var(--main-margin));
        margin-inline: var(--main-margin);
    }

    .about-me {
        width: calc(100% - 2*var(--main-margin));
    }
    .about-me h2,
    .about-me p {
        width: calc(100% - 2*var(--main-margin));
    }
}


@media screen and (max-width: 767px) {
    .about--me {
        flex-direction: column;
        gap: 30px;
    }

    .about--subtitle {
        width: 80%;
    }
    .about--me--text {
        margin-left: 0;
        width: 100%;
    }
    .about--me--image {
        margin-inline: auto;
    }
    .about--design {
        gap: 10px;
    }
}

@media screen and (max-width: 670px) {
    .about h1 {
        text-align: left;
        line-height: 1.2;
    }
}

@media screen and (max-width: 450px) {
    .about--design {
        gap: 5px;
    }
    .about--me--image {
        width: 250px;
        height: 250px;
    }
    .about--me--text h2 {
        margin-top: 0;
    }
}

