
.makeItOne-container h1 {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    text-align: center;
} 

/* INTRO */
.makeit .intro .highlight h2 {
    font-size: 1.5rem;
}

/* SECTION 01 CONTRAST */
.code--contrast code:nth-of-type(1) {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
}

.code--contrast code:nth-of-type(2) {
    font-size: 1.1875rem;
    font-weight: bold;
    line-height: 1;
}

.code--contrast code:nth-of-type(3) {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;
}





