
.makeItOne-container h1 {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    text-align: center;
} 

/* INTRO */
.makeit .intro .highlight h2 {
    font-size: 1.5rem;
}

/* SECTION 01 CONTRAST */
.code--contrast code {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
}

.numbers {
    display: flex;
    gap: 15px;
    align-items: center;
    width: 100%;
    padding-block: 10px;
    font-size: 1rem;
    font-weight: 500;
}

.numbers dt {
    color: var(--cream-color);
    width: 17rem;
    text-align: right;
}

.two-line-heading {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    line-height: 1.7;
    margin-bottom: 30px;
}

/* 

.code--contrast code:nth-of-type(2) {
    font-size: 1.1875rem;
    font-weight: bold;
    line-height: 1;
}

.code--contrast code:nth-of-type(3) {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;
} */





