

/* SECTION 01 CONTRAST */
.code--contrast code {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
}

.numbers {
    display: flex;
    gap: 15px;
    align-items: center;
    width: 100%;
    padding-block: 10px;
    font-size: 1rem;
    font-weight: 500;
}

.numbers dt {
    color: var(--cream-color);
    width: 17rem;
    text-align: right;
}

