.brailleDisplay-image {
    aspect-ratio: 1.5 / 1;
}

.windowsMagnifier-image {
    aspect-ratio: 1.54 / 1;
}

.video-container iframe {
    max-width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 5px;
    border: none;
}

@media screen and (max-width: 670px) {
    .video-container iframe {
        width: 100%;
        border-radius: 0;
    }


}