
.back-links {
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin-top: 50px;
}

.back-links ol {
    list-style: none;
    padding-inline-start: 0;
    display: flex;
    align-items: center;
    max-width: fit-content;
}

@media (max-width: 700px) {
    .back-links {
        margin-top: 0;
        display: none;
    }
}

.back-links ol li {
    display: inline;
}

.back-links ol li + li::before {
    display: inline-block;
    margin: 0 15px;
    transform: rotate(15deg);
    border-right: 0.13em solid gray;
    height: 0.8em;
    content: "";
}

.back-links a {
    color: inherit;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.1px;
}

/* .back-links a:focus-visible {
    text-decoration: none;
    outline: 3px dashed var(--text-dark-color);
    outline-offset: 3px;
} */

.back-links ol li:nth-of-type(1) a,
.back-links ol li:nth-of-type(2) a{
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
    text-decoration-color: #808080;
}

.back-links ol li:nth-of-type(1) a:hover,
.back-links ol li:nth-of-type(2) a:hover {
    color: var(--text-dark-color);
}

/* .back-links ol li:nth-of-type(1) a:focus-visible,
.back-links ol li:nth-of-type(2) a:focus-visible {
    text-decoration: none;
    outline: 3px dashed var(--text-dark-color);
    outline-offset: 3px;
} */

.back-links ol li:nth-of-type(1) a:focus,
.back-links ol li:nth-of-type(2) a:focus {
    text-decoration: none;
}