
.logo-we {
    display: inline;
}

.logo-w {
    /* color: var(--logo-w-color) */
    color: var(--yellow-color);
    /* color: var(--code-blue-color) */
}

.logo-e {
    color: var(--yellow-color);
}