

.makeit {
    display: flex;
    flex-direction: column;
    margin-inline: var(--main-margin);
    gap: 30px;
    font-size: 0.9rem;
    font-weight: 500;
}

.makeit-container h1 {
    font-size: 3.3rem;
    margin-top: 50px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    text-align: center;
}

.bug {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 40px;
    /* width: 50%;
    margin-inline: auto; */
}

.bug-code {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    font-size: 1.2rem;
    font-weight: 700;
    padding-block: 16px;
    background-color: var(--lightGray-color);
}

.bug-code code {
    margin-block: 5px;
    font-size: 1rem;
}

.bug-code code:empty {
    display: none;
}

.bug-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bug-heading {
    display: flex;
    align-items: center;
    /* margin-bottom: 10px; */
    gap: 15px;
}

.bug-number {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.3;
    color: gray;
}

.bug-body p {
    margin-bottom: 10px;
}

.bug-image img {
    border: 2px solid var(--blue-color);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bold {
    font-weight: 600;
}
/* SECTION 01 CONTRAST */
.bug-code--contrast code:nth-of-type(2),
.bug-code--contrast code:nth-of-type(4) {
    margin-bottom: 40px;
}

.bug-code--contrast code:nth-of-type(1),
.bug-code--contrast code:nth-of-type(2) {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
}

.bug-code--contrast code:nth-of-type(3),
.bug-code--contrast code:nth-of-type(4) {
    font-size: 1.1875rem;
    font-weight: bold;
    line-height: 1;
}

.bug-code--contrast code:nth-of-type(5),
.bug-code--contrast code:nth-of-type(6) {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;
}
/* INTRO */
.makeit .intro .highlight h2 {
    font-size: 1.5rem;
}

/* SECTION 02 ALT */
.bug-code--alt code:nth-of-type(2),
.bug-code--alt code:nth-of-type(3) {
    padding-left: 30px;
}

.alt .highlight p:nth-of-type(2) {
    margin-bottom: 30px;
}


/* LINKS */
.bug-code--links code:nth-of-type(2) {
    padding-left: 30px;
}

/* BUTTONS */
.bug-code--buttons code:nth-of-type(2) {
    padding-left: 30px;
}

/* LABELS */
.bug-code--labels:nth-of-type(2) code:nth-of-type(2),
.bug-code--labels:nth-of-type(2) code:nth-of-type(3) {
    padding-left: 30px;
}

.bug-body--labels p:nth-of-type(1) {
    margin-bottom: 0;
}

/* HEADINGS */

.bug-body--headings .fake-heading-p {
    margin-block: 0;
}

/* .bug-body--headings .fake-heading-p {
    margin-top: 0;
} */


/* SECTION 01 LANG */

.lang .highlight p:nth-child(8) {
    margin-top: 30px;   
}

.lang .highlight p:nth-child(6),
.lang .highlight p:nth-child(4),
.lang .highlight p:nth-child(5) {
    padding-left: 27px;   
    margin-block: 0;
}

.lang .highlight p:nth-child(3),
.lang .highlight p:nth-child(7) {
    margin-block: 0;
}

.yellow-bg {
    background-color: var(--yellow-color);
    padding: 0 5px;
    border-radius: 10px;
}

/* SECTION 01 Title Element */
.title-element .line2 {
    padding-left: 30px;
}

/* SECTION 02 Skip Link */
.skip-link .line2,
.skip-link .line4,
.skip-link .line5 {
    padding-left: 30px;
}

.skip-link .line3 {
    padding-left: 60px;
}

/* SECTION 03 Alt Text */
.the-alt-attribute-for-images .line2,
.the-alt-attribute-for-images .line3 {
    padding-left: 30px;
}

