
.table-contents {
    grid-row: 1 / 5;
    grid-column: 2 / 3;
    font-family: inherit;
    position: sticky;
    top: 125px; 
    height: 100vh; 
    display: flex;
    flex-direction: column;
}


.table-contents h2 {
    margin-top: 0;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

.table-contents nav {
    max-width: fit-content;
    min-width: 18.5rem;
}

.table-contents ul {
    font-family: inherit;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-inline-start: 0;
    background-color: var(--bg-dark-color);  
    border-radius: 5px;
    padding: 15px 15px 20px 15px;
}

.table-contents ul li a {
    align-self: flex-start;
    color: var(--cream-color);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    letter-spacing: 0.3px;
    white-space: nowrap;
    padding: 2px;
    border: 1.7px solid var(--bg-dark-color);  
}

.table-contents ul li a:hover {
    color: var(--code-blue-color);
    border: 1.7px solid var(--code-blue-color);
    border-radius: 5px;
    padding: 2px;
    font-weight: 400; 
    text-decoration: none;
}

.table-contents ul li a.active {
    color: var(--code-blue-color);
    border: 1.7px solid var(--code-blue-color);
    border-radius: 7px;
    padding: 2px;
    font-weight: 400; 
    text-decoration: none;
}

/* .table-contents ul li a:focus {
    text-decoration: none;
    border: none;
    border-radius: 0;
} */

.table-contents ul li a:focus-visible {
    text-decoration: none;
    outline: 2px solid var(--cream-color);
    outline-offset: 2px;
    padding: 2px;
    border-radius: 7px;
}

@media screen and (max-width: 970px) {
    .table-contents {
        position: relative;
        height: auto;
        top: 0;
        margin-bottom: 0;
        width: 100%;
        /* max-height: 600px; */
    }

    .table-contents h2 {
        font-size: 1.1rem;
        font-weight: 700;
        margin-bottom: 20px;
        margin-top: 50px;
    }
    .table-contents nav {
        width: 28rem;
        max-width: none;
        min-width: none;
    }
    .table-contents ul {
        padding: 25px;
    }
}

@media screen and (max-width: 670px) {
    .table-contents nav {
        width: 100%;
        max-width: none;
    }

    .table-contents h2 {
        padding-inline: var(--main-margin);
    }
    .table-contents ul {
        margin-inline: 0;
        padding-inline: var(--main-margin);
        gap: 30px;
        height: auto;
        padding-block: 25px;
    }
}

@media screen and (max-width: 620px) {
    .table-contents ul {
        border-radius: 0;
    }
    
}
