
.table-contents {
    grid-row: 1 / 5;
    grid-column: 2 / 3;
    font-family: inherit;
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 2px;
    position: sticky;
    top: 130px; 
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    white-space: normal;
}

.table-contents h2 {
    margin-top: 0;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 600;
}

.table-contents nav {
    width: 18rem;
}

.table-contents ul {
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding-inline-start: 0;
    background-color: white;
    border-radius: 5px;
    padding: 15px 15px 20px 15px;
    border: 1.7px solid var(--yellow-color);
}

.table-contents ul li a {
    align-self: flex-start;
    color: var(--grayTOC-color);
    font-size: 0.9rem;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: var(--grayTOC-color);
    letter-spacing: 0.2px;
}

.table-contents ul li a:hover {
    color: black;
    font-weight: 500; 
}

.table-contents ul li a.active {
    color: var(--blue-color);
    border: 2px solid var(--blue-color);
    border-radius: 5px;
    padding: 1px;
    font-weight: 600; 
    text-decoration: none;
}


@media screen and (max-width: 900px) {
    .table-contents {
        position: relative;
        height: auto;
        top: 0;
        margin-bottom: 0;
        width: 100%;
        max-height: 600px;
    }

    .table-contents h2 {
        font-size: 1.1rem;
        font-weight: 700;
        margin-bottom: 20px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 600px) {
    .table-contents {
        width: 100%;
    }
    .table-contents nav {
        width: 100%;
    }
}
