
.table-contents {
    grid-row: 1 / 5;
    grid-column: 2 / 3;
    font-family: monospace;
    font-size: 0.9rem;
    font-weight: 450;
    letter-spacing: 2px;
    position: sticky;
    top: 130px; 
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* max-height: 300px;  */
    width: 300px;
    white-space: normal;
    /* overflow-y: auto; */
    padding-left: 5px;
}
/* 
.table-contents::-webkit-scrollbar {
    width: 5px;
}

.table-contents::-webkit-scrollbar-track {
    background: var(--cream-color);
}

.table-contents::-webkit-scrollbar-thumb {
    background: var(--gray-color);
}

.table-contents::-webkit-scrollbar-thumb:hover {
background: var(--pinkBright-color); 
} */

.table-contents h2 {
    margin-top: 0;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 600;
}

.table-contents ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-inline-start: 0;
    /* height: 15rem;
    overflow-y: auto; */
}

.table-contents ul li a {
    align-self: flex-start;
    color: inherit;
    opacity: 0.9;
    font-size: 0.9rem;
    text-decoration: none;
    letter-spacing: 0.2px;
}

.table-contents ul li a:hover {
    color: var(--pinkBright-color);
    font-weight: 550; 
    opacity: 1;
}

.table-contents ul li a.active {
    color: var(--pinkBright-color);
    font-weight: 600; 
    text-decoration: underline;
    opacity: 1;
}


@media screen and (max-width: 900px) {
    .table-contents {
        position: relative;
        height: auto;
        top: 0;
        margin-bottom: 0;
        width: 100%;
        max-height: 600px;
    }

    .table-contents h2 {
        font-size: 1.1rem;
        font-weight: 700;
        margin-bottom: 20px;
        margin-top: 50px;
    }
}