.scroll-to-top-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    padding: 5px 8px;
    /* font-size: 1.5rem; */
    color: var(--reverse-color);
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--reverse-bg-color);
    border: 2px solid var(--reverse-color);
}

.scroll-to-top-button svg {
    fill: var(--reverse-color);
}
