.scroll-to-top-button {
    display: 'inline';
    position: 'fixed';
    bottom: '20px';
    right: '30px';
    z-index: '1000';
    padding: '10px';
    font-size: '20px';
    border: 'none';
    border-radius: '10px';
    cursor: 'pointer';
    background-color: '#007BFF';
    color: 'white';
}
