
.feedback {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-block: 20px;
    width: 45rem;
    margin-inline: auto;
}

.feedback h1 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.5;
}

.feedback h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 50px;
}

.contact--email {
    background-color: var(--text-dark-color);
    border-radius: 5px;
    padding: 3px 10px;
    color: var( --code-blue-color);
    font-weight: 300;
    margin-left: 5px;
}

@media screen and (max-width: 325px) {
    .contact {
        display: flex;
        flex-direction: column;
    }
    .contact--email {
        margin-left: 0;
    }
    
}
.feedback--svg {
    background-color: var( --code-blueDark-color);
    border-bottom: 3px solid var(--text-dark-color);
    width: 100%;
}

.feedback--svg svg {
    fill: var(--cream-color);
    margin: 10px;
    vertical-align: middle;
}

@media screen and (max-width: 800px) {
    .feedback {
        width: calc(100% - var(--main-margin));
        margin-inline: var(--main-margin);
    }

    .feedback h1 {
        font-size: 2.3rem;
        width: calc(100% - var(--main-margin));
    }
    .feedback h2,
    .feedback p {
        width: calc(100% - var(--main-margin));
    }
}

@media screen and (max-width: 340px) {
    .feedback h1 {
        font-size: 2rem;
    }
    
}