
.a11yTree {
    width: 100%;
}

.a11yTree h2 span {
    font-size: 1.7rem;
    line-height: 1;
}

.dom-at-section {
    width: 100%;
}
.dom-at {
    width: 100%;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;    
}

.dom-at div:nth-of-type(1) {
    border-right: 1px solid gray;
}

.dom-at div:nth-of-type(2){
    padding-left: 30px; 
}

@media screen and (max-width: 670px) {
    /* .dom-at {
        width: calc(100% + 2*var(--main-margin));
        margin-inline: calc((-1)*var(--main-margin));
    } */

    .dom-at div:nth-of-type(1){
        padding-left: var(--main-margin);
    }
    
}