

/* INTRO */
.numbers {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
    font-family: "Popins", sans-serif;
    /* max-width: 560px; */
    padding-block: 10px;
    letter-spacing: 0.5px;
}

.numbers dt {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--pinkBright-color);
    font-family: "Popins", sans-serif;
    width: 4.5rem;
    text-align: right;
    letter-spacing: 0.5px;
}

.numbers dd {
    font-size: 1.1rem;
    color: var(--text-dark-color);
    font-family: "Popins", sans-serif;
    font-weight: 500;
}

@media screen and (max-width: 670px) {
    .numbers {
        margin-left: var(--main-margin);
    }   
    
}

@media screen and (max-width: 560px) {
    .numbers dt {
        text-align: left;
        width: auto;
    }   
}
/* LOW CONTRAST */

.low-contrast--button {
    background-color: var(--pinkBright-color);
    border: none;
    color: var(--text-light-color);
    font-size: 1rem;
    font-family: "Popins", sans-serif;
    letter-spacing: 0.5px;
    font-weight: 600;
    padding: 10px 15px;
    align-self:auto;
    margin-bottom: 20px;
}

.low-contrast--button:hover {
    background-color: var(--text-dark-color);
    cursor: pointer;
}

@media screen and (max-width: 670px) {
    .low-contrast--button {
        margin-left: var(--main-margin);
    }   
    
}



