/* INTRO */
.numbers {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
    font-family: "Poppins", sans-serif;
    /* max-width: 560px; */
    padding-block: 10px;
    letter-spacing: 0.5px;
}

.numbers dt {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--pink-text-on-less-dark-bg);
    font-family: "Poppins", sans-serif;
    width: 4rem;
    text-align: right;
    letter-spacing: 0.5px;
}

.numbers dd {
    font-size: var(--paragraph-font-size);
    color: var(----paragraph-color);
    font-weight: var(--paragraph-fontweight);
    font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 670px) {
    .numbers {
        margin-left: var(--main-margin);
    }   
    
}

@media screen and (max-width: 560px) {
    .numbers dt {
        text-align: left;
        width: auto;
    }   
}
/* LOW CONTRAST */

.low-contrast--button {
    background-color: var(--custom-outline-button-bg);
    border: none;
    border-radius: 5px;
    color: var(--custom-outline-button-color);
    font-size: 1rem;
    font-family: "Popins", sans-serif;
    letter-spacing: 0.5px;
    font-weight: 600;
    padding:6px 15px;
    align-self:auto;
    margin-bottom: 20px;
}

.low-contrast--button:hover {
    outline: 2px solid var(--custom-outline-button-outline);
    outline-offset: 4px;
    cursor: pointer;
}

.low-contrast--button:focus-visible {
    outline: 2px solid var(--custom-outline-button-outline);
    outline-offset: 4px;
}

/* .low-contrast-paragraph {
    font-size: var(--paragraph-font-size);
    font-weight: var(--paragraph-fontweight);
    color: var(--paragraph-color);
} */

@media screen and (max-width: 670px) {
    .low-contrast--button {
        margin-left: var(--main-margin);
    }   
    
}



