
.article-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 10px;
}

.back-links {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 100px;
    margin-left: var(--main-margin);
}

.back-links a {
    text-decoration: none;
}

.article-container h1 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    margin-left: var(--main-margin);
    font-size: 3rem;
    margin-top: 30px;
}

.article-container .subtitle {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    color: var(--pinkBright-color);
    font-size: 1.3rem;
    font-weight: 600;
    margin-left: var(--main-margin);
    margin-bottom: 50px;
}

.article-content {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 0.9rem;
    font-weight: 500;
    width: 70%;
    margin-left: var(--main-margin);
}

.table-contents {
    grid-row: 1 / 5;
    grid-column: 2 / 3;
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 1px;
    position: sticky;
    top: 192px; 
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.table-contents h2 {
    margin-top: 0;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
}

.table-contents--list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.table-contents--list--item a {
    align-self: flex-start;
    color: inherit;
    opacity: 0.8;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 20px;
    text-decoration: none;
}

/* .article-content a {
    margin-inline: 5px;
} */

.intro,
.bug {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 0;
}

.highlight {
    background-color: var(--lightGray-color);
    font-weight: 500;
    padding: 30px;
    width: 100%;
    /* border-left: 2px solid var(--yellow-color); */
}

.highlight h3 {
    margin-top: 10px;
    margin-bottom: 30px;
}

.highlight p {
    margin-block: 10px;
}

.exclamation {
    color: var(--pinkBright-color);
    font-size: 1.2rem;
    font-weight: 700;
}

.fake-heading-p {
    font-weight: 700;
    font-size: 1rem;
}

.read-next {
    font-weight: 600;
    font-size: 0.9rem;
}

/* INTRO */
.numbers,
.adjectives {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
}

.numbers span,
.adjectives span {
    font-size: 1.1rem;
    color: var(--pinkBright-color);
    width: 6.5rem;
    text-align: right;
}

.intro .bad-news p:nth-of-type(2) {
    margin-top: 20px;
}


.intro ul {
    padding-left: 40px;
}
.intro ul li {
    margin-block: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--lightGray-color);
    padding: 10px 30px 10px 0;
}

.intro ul li a {
    text-decoration: none;
}

.list-num {
    color: var(--pinkBright-color);
    font-weight: 600;
    text-align: right;
    width: 2rem;
}

.intro li:hover .link-arrow {
    border-color: var(--pinkBright-color); 
    transform: translateX(5px) rotate(-45deg); 
}

.intro li:hover .additional-arrow:nth-child(2) {
    opacity: 0.8;
    transition-delay: 0.1s; 
}

.intro li:hover .additional-arrow:nth-child(3) {
    opacity: 0.6;
    transition-delay: 0.2s; 
}

.scroll-target::before {
    content: '';
    display: block;
    height: 40px;
    visibility: hidden;
    pointer-events: none;
}


/* LOW CONTRAST */
.pink-bg {
    background-color: var(--pinkBright-color);
    color: var(--text-light-color);
    font-weight: 600;
    padding: 5px 10px;
}

.low-contrast .highlight {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.low-contrast .highlight p {
    width: 70%;
}

.low-contrast .highlight button {
    background-color: var(--pinkBright-color);
    border: none;
    color: var(--text-light-color);
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 15px;
    align-self:auto;
}

.low-contrast .highlight button:hover {
    background-color: var(--text-dark-color);
    cursor: pointer;
}

/* MISSING ALT TEXT */
.bold {
    font-weight: 600;
}
.stats {
    font-weight: 600;
}
code,
.stats {
    padding: 2px 3px;
    border-radius: 3px;
}

.white-bg code,
.stats { 
    background-color: #dee2e6;
}

.gray-bg code { 
    background-color: #adb5bd;
    color: var(--text-dark-color);
}

.alt-text .highlight p:nth-of-type(2) {
    margin-bottom: 30px;
}


/* EMPTY LINK */
.empty-links .highlight h3:nth-of-type(2) {
    margin-top: 50px;
}

.empty-links .highlight p:not(:first-of-type) {
    margin-top: 20px;
}

/* MISSING BUTTON TEXT */

.empty-buttons .highlight>p:nth-of-type(2) {
    padding-left: 20px;
}

.empty-buttons .highlight>p:nth-of-type(3) {
    padding-left: 40px;
}

.empty-buttons .highlight>p:nth-of-type(4) {
    padding-left: 20px;
}

.empty-buttons .highlight .fake-heading-p:nth-of-type(5) {
    margin-top: 30px;
}

.pink-text {
    color: var(--pinkBright-color);
    /* margin-top: 40px; */
}

/* MISSING INPUT LABELS */
.missing-inputLabels .highlight .code-block>p:nth-of-type(1) {
    padding-left: 20px;
}

.missing-inputLabels .highlight .code-block>p:nth-of-type(2) {
    padding-left: 40px;
}

.missing-inputLabels .highlight .code-block>p:nth-of-type(3) {
    padding-left: 20px;
}

.missing-inputLabels .highlight .fake-heading-p:nth-of-type(2) {
    margin-top: 30px;
}


/* MISSING LANG */


/* HEADINGS */
.pink-bg-white-text {
    background-color: var(--pinkBright-color);
    color: var(--text-light-color);
    padding: 1px 3px;
    border-radius: 2px;
}

.pink-num {
    color: var(--pinkBright-color);
    font-size: 0.9rem;
    font-weight: 700;
}

.green-text {
    color: rgb(4, 159, 46);
}

.misused-headings .highlight p:nth-of-type(3) {
    margin-top: 30px;
}

/* CONCLUSION */
.conclusion {
    margin-top: 40px;
}

.next-article {
    width: 100%;
}