

/* INTRO */
.numbers {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
    max-width: 560px;
    padding-block: 10px;
}

.numbers dt {
    font-size: 1.1rem;
    color: var(--pinkBright-color);
    width: 4.5rem;
    text-align: right;
}

@media screen and (max-width: 560px) {
    .numbers dt {
        text-align: left;
        width: auto;
    }   
}
/* LOW CONTRAST */

.low-contrast--button {
    background-color: var(--pinkBright-color);
    border: none;
    color: var(--text-light-color);
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 15px;
    align-self:auto;
    margin-bottom: 20px;
}

.low-contrast--button:hover {
    background-color: var(--text-dark-color);
    cursor: pointer;
}




