
.whatisa11y ul li{
    margin-top: 20px;
    line-height: 1.7;
    margin-left: 20px;
    position: relative;
    color: var(--text-dark-color);
    font-family: "Poppins", sans-serif;
}

.whatisa11y ul li span{
    font-size: 1rem;
}

.whatisa11y ul li::before {
    content: "•"; 
    color: var(--pinkBright-color);
    font-size: 25px; 
    position: absolute;
    left: -20px; 
    top: -8px;
}


.whatisa11y h3 {
    margin-bottom: 10px;
    margin-top: 20px;
    color: inherit;
}

.whatisa11y div p:not(:first-of-type) {
    margin-top: 20px;
}
