.home {
    display: flex;
    flex-direction: column;
    /* margin-inline: var(--main-margin); */
    margin-top: 20px;
    color: var(--text-dark-color);
}

/* ******************HERO DESIGN************************ */

.hero {
    margin-inline: var(--main-margin);
}

.hero--heading {
    display: flex;
    flex-direction: column;
}

.hero h1 {
    font-size: 3.8rem;
    font-weight: 600;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px; 
    color: var(--text-nav-color);
    padding-top: 5px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.hero--subtitle {
    font-family: "Quicksand", sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    width: 40rem;
    margin-inline: auto;
    margin-top: 0;
    text-align: center;
    color: rgb(71, 70, 70);
}

.all-highlight {
    font-family: "Quicksand", sans-serif;
    color: var(--text-dark-color);
    font-weight: 700;
}

.hero--text {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 70px;
    margin-inline: var(--main-margin);
}

.hero--text--right,
.hero--text--left {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* position: relative; */
    width: 17rem;
}

/* .hero--text--left a::after,
.hero--text--right a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
} */

/* .hero--text h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
    font-weight: 600;
    color: var(--text-nav-color);
} */

.continue-to-article {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1;
    align-self: flex-start;
    text-decoration: none;
    color: var(--text-dark-color);
    padding: 6px 15px;
    border-radius: 10px;
    border: 1.8px solid var(--text-nav-color);
    width: 15rem;
}

.hero--text--left .continue-to-article {
    background-color: var(--hero-lightBlue-faded);
    letter-spacing: 0.5px;
}

.hero--text--right .continue-to-article {
    background-color: var(--yellow-color);
}

.continue-to-article svg[id="arrow"] circle {
    fill: var(--text-dark-color);
}

.continue-to-article svg[id="arrow"] path {
    fill: var(--cream-color);
}

.continue-to-article svg[id="bug"] {
    display: none; 
  }
  
.continue-to-article:hover svg[id="arrow"] {
    display: none; 
}

.continue-to-article:focus-visible svg[id="arrow"] {
    display: none; 
}

.continue-to-article:hover svg[id="bug"] {
    display: block; 
    fill: var(--text-dark-color);
}

.continue-to-article:focus-visible svg[id="bug"] {
    display: block; 
    fill: var(--text-dark-color);
}


@media screen and (max-width: 1100px) {
    .hero h1 {
        font-size: 3.1rem;
    }  
    .hero--text h2 {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1000px) {

    .hero h1 {
        font-size: 3.2rem;
    }  

    /* .hero--text {
        gap: 70px;
    } */

    .hero--text h2 {
        margin-bottom: 20px;
    }

    .hero--text p {
        margin-bottom: 30px;
       
    }
}

@media screen and (max-width: 720px) {
    .hero h1 {
        font-size: 2.8rem;
    }  
    .hero--subtitle {
        width: 95%;
        line-height: 1.7;
    }
    .continue-to-article {
        padding: 8px 15px;
    }
}

@media screen and (max-width: 625px) { 
    .hero h1 {
        flex-direction: column;
        font-size: 3.5rem;
        gap: 0;
        margin-top: 0;
        line-height: 1.2;
    }  
    .hero--subtitle {
        margin-top: 5px;
        margin-bottom: 0;
        width: 90%;
    }

    .hero--text {
        gap: 30px;
        /* margin-top: 50px; */
    }

    /* .hero--text h2 {
        font-size: 1.6rem;
        margin-bottom: 5px;
        
        
    } */
/* 
    .hero--text--right,
    .hero--text--left {
        width: auto;
    } */
}

@media screen and (max-width: 590px) { 
    .hero h1 {
        flex-direction: column;
        font-size: 3.5rem;
    }
    .hero--subtitle {
        width: 100%;
    }
}

@media screen and (max-width: 550px) { 
    /* .hero h1 {
        align-items: flex-start;
        margin-bottom: 20px;
    }
    .hero--subtitle {
        text-align: left;
    } */
    .home .continue-to-article {
        width: 17rem;
    }

    .hero--text {
        flex-direction: column;
        margin-inline: auto;
    }

    .hero--text h2 {
        display: none;
    }
}

@media screen and (max-width: 380px) { 
    .hero h1 {
        font-size: 3.2rem;
    }
}

@media screen and (max-width: 340px) { 
    .hero h1 {
        font-size: 2.8rem;
    }

    /* .home .continue-to-article {
        width: 17rem;
    } */
}
@media screen and (max-width: 300px) { 
    .hero h1 {
        font-size: 2.4rem;
    }
}

.gray-bg {
    /* background: linear-gradient(to bottom, transparent 50%, var(--body-bg-color) 50%); */
    background-color: #F0F1F3;
    /* padding-bottom: 90px; */
    padding-inline: var(--main-margin);
    width: 100%;
    height: 10px;
    /* border-top: 1.5px solid gray; */
    margin-top: 100px;
    /* border-bottom: 1.5px solid gray; */
}

@media screen and (max-width: 620px) { 
    .gray-bg {
        margin-top: 0;
    }
    
}

/* /////////////////////////////////////////////////// */
.mini-articles {
    display: flex;
    flex-direction: column;
    /* margin-top: 110px;  */
    padding-inline: var(--main-margin);
    background-color: #F0F1F3;
    padding-bottom: 70px;
}

.mini-articles h2 {
    align-self: self-start;
    font-size: 2rem;
    letter-spacing: 0.5px;
    font-weight: 700;
    margin-bottom: 20px; 
    width: 100%;
    padding-top: 60px;
    color: var(--text-nav-color);
    /* border-top: 1.5px solid gray; */
}

.mini-articles ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    gap: 48px;
    padding-inline-start: 0;
    
}

.mini-article {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: start;
    margin-top: 30px;
    position: relative;
}

.mini-article--image {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
}

.mini-article--image-1 {
    background-color: var(--hero-lightBlue-faded);
}

.mini-article--image svg {
    vertical-align: middle;
}

.mini-article--image-2 {
    background-color: var(--yellow-color);
}

.mini-article--image-3 {
    background-color: var(--hero-pink);
}
.mini-article--image .svg-wrap svg{
    fill: var(--text-dark-color);
}
.mini-article--image span {
    color: var(--text-dark-color);
    font-size: 30px;
    font-weight: 600;
}

.mini-article--content {
    color: var(--text-dark-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mini-article a {
    text-decoration: none;
    /* text-underline-offset: 3px;
    text-decoration-thickness: 1px; */
    color: var(--text-nav-color);
    cursor: pointer;
}

.mini-article a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    /* z-index: 1; */
}

.mini-article--link h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-nav-color);
    letter-spacing: 0.3px;
    margin-bottom: 40px;
}

.mini-article--text p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 2;
}

.mini-article--svg {
    margin-top: auto;
}

.mini-article--svg circle {
    fill: var(--hero-lightBlue);
}

.mini-article--svg path  {
    fill: var(--text-dark-color);
}

.mini-article:hover .mini-article--svg circle,
.mini-article:focus-within .mini-article--svg circle  {
    fill: var(--text-dark-color);
}

.mini-article:hover .mini-article--svg path,
.mini-article:focus-within .mini-article--svg path  {
    fill: var(--text-light-color);
}

.mini-article:hover,
.mini-article:focus-within {
    outline: 1.7px solid var(--text-nav-color);
    border-radius: 10px;
    outline-offset: 6px;
}

.mini-article:focus-within .mini-article--link {
    outline: none;
}

.mini-article-1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.mini-article-2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.mini-article-3 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.mini-article-4 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.mini-article-5 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.mini-article-6 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}


@media screen and (max-width: 1100px) { 
    .mini-articles ul {
        gap: 20px;
    }
}

@media screen and (max-width: 1000px) { 
    .home {
        display: flex;
        flex-direction: column;
    }
    .mini-articles {
        margin-top: 0;
    }
}

@media screen and (max-width: 750px) { 
    .mini-articles ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 625px) { 
    .mini-articles {
        order: 3;
    }

    .mini-articles ul {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .mini-article {
        padding-bottom: 30px;
        border-bottom: 1.5px solid gray;
    }
    .mini-article--image {
        width: calc(100% + 2*var(--main-margin));
        margin-inline: calc((-1)*var(--main-margin));
        padding-inline: var(--main-margin);
        border-radius: 0;
    } 
    .mini-article--svg {
        margin-top: 40px;
    }
    .mini-article:hover,
    .mini-article:focus-within {
    
        border-radius: 0;
        outline: none;
    /* outline-offset: 6px; */
}
}

