
.logo-link {
    /* color: var(--text-dark-color); */
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 5px;
    align-self: start;
}

.logo-link:focus-visible {
    outline: var(--outline-thickness) solid var(--paragraph-color);
    outline-offset: 5px;
    text-decoration: none;
    border-radius: 7px;
}

.logo-link span {
    font-size: 1.3rem;
    letter-spacing: 0px;
}
@media screen and (max-width: 450px) {
    header .logo-link span {
        font-size: 1.4rem;
    }  
}

@media screen and (max-width: 350px) {
    header .logo-link span {
        font-size: 1.2rem;
    }  
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.58rem;
    /* height: 1.5rem; */
}

.logo-container img {
    width: 1.58rem;
    height: 1.49rem;
    aspect-ratio: 1.06 / 1;
    margin-left: -4px;
}