.about {
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

.about--intro--image {
    width: 90px;
    aspect-ratio: 1 / 1;
}

.about--intro--image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.about--sections {
    display: flex;
    flex-direction: column;
    gap: 80px;
    animation: moveUpOnLoad 1s ease-out;
}

.about--section:first-of-type {
    margin-top: 10px;
}

.section-line {
    margin-block: 0;
}

.about--section--past {
    margin-bottom: 100px;
}

/* .section-line-container {
    display: grid;
    grid-template-columns: 3.2fr 1fr 3fr; 
    align-items: center; 
    gap: 24px; 
} */

/* @media screen and (max-width: 1000px) { */
    .section-line-container {
        width: 100%;
        display: flex; 
        flex-direction: column;
        align-items: start;
        width: 90%;
    }

    .section-line {
        width: 70%;
        margin-bottom: 20px;
        font-size: 1.1rem;
    }

    .arrow {
        display: none;
    }

    .extra-info {
        padding-left: 16px;
        border-left: 3px solid var(--yellow-color);
    }


.section-line-container:not(:last-child) {
    margin-bottom: 32px;
}

/* .main-info {
    grid-column: 1; 
}

.extra-info {
    grid-column: 3; 
}

.arrow {
    grid-column: 2; 
    justify-self: center; 
    font-size: 3rem;
    color: var(--yellow-color);
} */
