.about {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about a {
    color: var(--blue-color);
}

.about--intro {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-inline: var(--max-margin);
    position: relative;
}

.about--intro--image {
    width: 90px;
    aspect-ratio: 1 / 1;
    position: absolute;
    left: calc(0.5*var(--navbar-margin));
}

.about--intro--image img {
    
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.about--intro h1 {
    font-size: 3.5rem;
    font-weight: 600;
    letter-spacing: 1.8px;
    /* font-family: "Playpen Sans", sans-serif; */
    margin-top: 40px;
    margin-bottom: 10px;
}

.about--sections {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.about--section {
    /* width: 58rem; */
    padding-inline: calc(var(--max-margin) - 0.5*var(--navbar-margin)); 
}
.about--section h2 {
    color: var(--blue-color);
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 16px;
}

.section-line {
    margin-top: 32px;
    margin-bottom: 0;
    /* width: 80%; */
}

.about--section--currently {
    border-left: calc(0.5*var(--navbar-margin)) solid var(--yellow-color);
}

.about--section--recently-completed {
    border-left: calc(0.5*var(--navbar-margin)) solid var(--blueLighter-color);
}

.about--section--past {
    border-left: calc(0.5*var(--navbar-margin)) solid var(--orange-color);
}

.about--section--interests {
    border-left: calc(0.5*var(--navbar-margin)) solid var(--blueDark-color);
}

.section-line-container {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr; /* Adjust the column sizes as needed */
    align-items: center; /* This will vertically center align the arrow with the text */
    gap: 24px; /* Adjust the gap size as needed */
}

.main-info {
    grid-column: 1; /* Assign the text to the first column */
}

.extra-info {
    grid-column: 3; /* Assign the extra info to the third column */
}

.arrow {
    grid-column: 2; /* Assign the arrow to the middle column */
    justify-self: center; /* Center the arrow horizontally */
    align-self: center;
}
