.about {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.about--intro {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-inline: var(--max-margin);
}

.about--intro--photo-div {
    width: 170px;
}

.about--intro--photo-div img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.about--intro h1 {
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 1.8px;
    font-family: "Playpen Sans", sans-serif;
}

.about--sections {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about--section {
    /* width: 37rem; */
    padding-inline: calc(var(--max-margin) - 2*var(--navbar-margin)); 
}
.about--section h2 {
    color: var(--blue-color);
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 0;
}
.section-line {
    margin-top: 32px;
    margin-bottom: 0;
}

.about--section--currently {
    border-left: calc(2*var(--navbar-margin)) solid var(--yellow-color);
}

.about--section--recently-completed {
    border-left: calc(2*var(--navbar-margin)) solid var(--blue-color);
}

.about--section--past {
    border-left: calc(2*var(--navbar-margin)) solid var(--yellow-color);
}

.about--section--interests {
    border-left: calc(2*var(--navbar-margin)) solid var(--yellow-color);
}