.home {
    display: flex;
    flex-direction: column;
    /* margin-inline: var(--main-margin); */
    margin-top: 20px;
    color: var(--text-dark-color);
}

/* ******************BETA BANNER************************ */
.beta {
    position: absolute;
    width: 30rem;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--bg-dark-color);
    color: var(--text-light-color);
    padding: 10px;
    border-radius: 10px;
    z-index: 1;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    z-index: 50;
}

@media screen and (max-width: 550px) {
    .beta {
        width: 95%;
    }
}
.beta p {
    font-weight: 500;
    font-family: "Quicksand", sans-serif;
    font-size: 1.1rem;
}

.beta a {
    color: var(--cream-color);
    cursor: pointer;
    font-size: 1.1rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    text-underline-offset: 5px;
    text-decoration-color: var(--pinkBright-color);
}

.beta a:hover {
    color: var(--cream-color);
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-style: wavy;
    text-decoration-color: var(--pinkBright-color);
}

.beta a:focus-visible {
    outline: 3px solid var(--cream-color);
    text-decoration: none;
}

.beta svg path {
    fill: var(--pinkBright-color);
}

.beta-button {
    background-color: var(--cream-color);
    border: none;
    margin: 0;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-image: url(/assets/xmark-solid.svg);
    background-repeat: no-repeat; 
    background-position: center;
    background-size: 25px 25px;
}

.beta-button:hover {
    outline: 3px solid var(--cream-color);
    outline-offset: 5px;
}

.beta-button:focus-visible {
    outline: 2px solid var(--cream-color);
    outline-offset: 3px;
}
/* ******************END OF BETA BANNER************************ */


/* ******************HERO DESIGN************************ */

.hero {
    margin-inline: var(--main-margin);
}

.hero--heading {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    
}
/* .hero--heading--svg {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero--heading--svg svg {
    fill: gray;
} */

.hero h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px; 
    color: var(--text-nav-color);
    padding-top: 5px;
    margin-top: 50px;
}

.hero--subtitle {
    font-family: "Quicksand", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    width: 40rem;
    margin-inline: auto;
    margin-top: 20px;
    text-align: center;
    color: rgb(71, 70, 70);
}

.all-highlight {
    font-family: "Quicksand", sans-serif;
    /* background-color: var(--yellow-color); */
    color: var(--text-dark-color);
    /* padding: 4px 6px;
    border-radius: 50%;
    border: 2px solid var(--text-dark-color); */
    font-weight: 700;
}

.hero--text {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: 30px;
    margin-inline: var(--main-margin);
}

.hero--text--right,
.hero--text--left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 16rem;
}

.hero--text--left a::after,
.hero--text--right a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

.hero--text h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 700;
    color: var(--text-nav-color);
}

.hero--text p {
    font-size: 1rem;
    line-height: 1.7;
    font-weight: 400;
    width: 100%;
}

.continue-to-article {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1;
    align-self: flex-start;
    text-decoration: none;
    color: var(--text-dark-color);
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid var(--text-nav-color);
    width: 100%;
    /* margin-top: 10px; */
}

.hero--text--left .continue-to-article {
    background-color: var(--hero-lightBlue-faded);
}

.hero--text--right .continue-to-article {
    background-color: var(--yellow-color);
}

.continue-to-article svg[id="arrow"] circle {
    fill: var(--text-dark-color);
}

.continue-to-article svg[id="arrow"] path {
    fill: white;
}

.continue-to-article svg[id="bug"] {
    display: none; 
  }
  
.continue-to-article:hover svg[id="arrow"] {
    display: none; 
}

.continue-to-article:focus-visible svg[id="arrow"] {
    display: none; 
}

.continue-to-article:hover svg[id="bug"] {
    display: block; 
    fill: var(--text-dark-color);
}

.continue-to-article:focus-visible svg[id="bug"] {
    display: block; 
    fill: var(--text-dark-color);
}


@media screen and (max-width: 1100px) {
    .hero h1 {
        font-size: 3.1rem;
    }  
    .hero--text h2 {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1000px) {

    .hero h1 {
        font-size: 3.2rem;
    }  

    .hero--text {
        gap: 70px;
    }

    .hero--text h2 {
        margin-bottom: 20px;
    }

    .hero--text p {
        margin-bottom: 30px;
       
    }
}

@media screen and (max-width: 720px) {
    .hero h1 {
        font-size: 2.8rem;
    }  
    .hero--subtitle {
        width: 95%;
    }
}

@media screen and (max-width: 625px) { 
    .hero h1 {
        flex-direction: column;
        font-size: 3.5rem;
    }  
    .hero--subtitle {
        /* padding-inline: var(--main-margin); */
        width: 90%;
    }

    .hero--text {
        flex-direction: column;
        gap: 90px;
    }

    .hero--text h2 {
        font-size: 1.8rem;
    }

    .hero--text--right,
    .hero--text--left {
        width: 100%;
    }

    .home .continue-to-article {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 590px) { 
    .hero h1 {
        flex-direction: column;
        font-size: 3.5rem;
        gap: 5px;
    }
    .hero--subtitle {
        /* padding-inline: var(--main-margin); */
        width: 100%;
    }
}


@media screen and (max-width: 380px) { 
    .hero h1 {
        font-size: 3.2rem;
    }
}

@media screen and (max-width: 340px) { 
  
    .hero h1 {
        font-size: 2.8rem;
    }
}
@media screen and (max-width: 300px) { 
  
    .hero h1 {
        font-size: 2.4rem;
    }
}

.gray-bg {
    background: linear-gradient(to bottom, transparent 50%, var(--body-bg-color) 50%);
    padding-bottom: 90px;
    padding-inline: var(--main-margin);
    width: 100%;
    /* border-bottom: 1.5px solid gray; */
}


/* LINK ARROWS
<i className={styles['link-arrow']}></i>
                                <i className={`${styles['link-arrow']} ${styles['additional-arrow']}`}></i>
                                <i className={`${styles['link-arrow']} ${styles['additional-arrow']}`}></i>
                                <i className={`${styles['link-arrow']} ${styles['additional-arrow']}`}></i>
                                <i className={`${styles['link-arrow']} ${styles['additional-arrow']}`}></i> 
.link-arrow {
    border: solid var(--cream-color);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 8px;
    transform: rotate(-45deg);
    transition: transform 0.5s ease; 
}

.additional-arrow {
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
    margin-left: 4px;
    transition-delay: 0s; 
}

.hero--link {
    align-self: flex-start;
    text-decoration: none;
    width: 100%;
}

.hero--link:hover .link-arrow {
    border-color: var(--pinkBright-color); 
    transform: translateX(5px) rotate(-45deg); 
}

.hero--link:hover .additional-arrow:nth-child(2) {
    opacity: 0.8;
    transition-delay: 0.1s; 
}

.hero--link:hover .additional-arrow:nth-child(3) {
    opacity: 0.6;
    transition-delay: 0.2s; 
}

.hero--link:hover .additional-arrow:nth-child(4) {
    opacity: 0.4;
    transition-delay: 0.3s; 
} */


/* /////////////////////////////////////////////////// */
.mini-articles {
    display: flex;
    flex-direction: column;
    /* margin-top: 110px;  */
    padding-inline: var(--main-margin);
    background-color: var(--body-bg-color);
    padding-bottom: 70px;
}

.mini-articles h2 {
    align-self: self-start;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px; 
    width: 100%;
    padding-top: 20px;
    color: var(--text-nav-color);
}

.mini-articles ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    gap: 48px;
    padding-inline-start: 0;
    
}

.mini-article {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start; 
    align-items: start;
    margin-top: 30px;
    position: relative;
}

.mini-article a {
    text-decoration: none;
    color: var(--text-dark-color);
    cursor: pointer;
}

.mini-article a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

.mini-article--text {
    color: var(--text-dark-color);
    padding-top: 16px;
    padding-right: 10px;
    width: 100%;
}

.mini-article--link h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-nav-color);
}

.mini-article--image span {
    color: var(--text-dark-color);
    font-size: 30px;
    font-weight: 600;
}

.mini-article--text p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 2;
}

.mini-article .mini-article--text svg circle {
    fill: var(--hero-lightBlue);
}

.mini-article .mini-article--text svg path  {
    fill: var(--text-dark-color);
}

.mini-article:hover .mini-article--text svg circle  {
    fill: var(--text-dark-color);
}

.mini-article:hover .mini-article--text svg path  {
    fill: var(--text-light-color);
}


.mini-article:focus-within:not(:active) {
    outline: 3px solid var(--text-dark-color);
    outline-offset: 4px;
}

.mini-article:focus-within .mini-article--link {
    outline: none;
}

.mini-article--link:active {
    outline: none;
}

.mini-article:focus-visible {
    outline: none;
}

.mini-article:focus {
    outline: none;
}

.mini-article-1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.mini-article-2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.mini-article-3 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.mini-article-4 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.mini-article-5 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.mini-article-6 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}


.mini-article--image {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
}

.mini-article--image-1 {
    background-color: var(--hero-lightBlue-faded);
}

.mini-article--image svg {
    vertical-align: middle;
}

.mini-article--image-2 {
    background-color: var(--yellow-color);
}

.mini-article--image-3 {
    background-color: var(--hero-pink);
}
.mini-article--image .svg-wrap svg{
    fill: var(--text-dark-color);
}

@media screen and (max-width: 1100px) { 
    .mini-articles ul {
        gap: 20px;
    }
}

@media screen and (max-width: 1000px) { 
    .home {
        display: flex;
        flex-direction: column;
    }
    .mini-articles {
        margin-top: 0;
    }
}

@media screen and (max-width: 750px) { 
    .mini-articles ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 625px) { 
    .mini-articles {
        order: 3;
    }

    .mini-articles ul {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}

@media screen and (max-width: 625px) { 
    .mini-article--image {
        width: calc(100% + 2*var(--main-margin));
        margin-inline: calc((-1)*var(--main-margin));
        padding-inline: var(--main-margin);
        border-radius: 0;
    } 
}
