
.home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    grid-gap: 32px;
    margin-inline: var(--main-margin);
    margin-top: 20px;
    color: var(--text-dark-color);
}

.home h1 {
    line-height: 1.2;
    font-size: 3.3rem;
}

.hero {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 10px;
}

/* .hero-image {
    width: 100%;
    height: 300px;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: var(--yellow-color);
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.hero--design {
    width: 100%;
    height: 220px;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: var(--yellow-color);
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero--design--svg-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    grid-gap: 30px;
}

.hero--container {
    display: flex;
    gap: 32px;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    /* text-decoration: none; */
}
.hero--container--heading {
    width: 50%;
    /* justify-content: space-between; */
    align-self: top;
}

.hero--container--body {
    width: 50%;
    /* align-self: center; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
} 

.hero--container--body p {
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.5;
}

.home .continue-to-article {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1;
    background-color: var(--hero-darkGreen);
    padding: 15px 15px 15px 35px;
    color: var(--cream-color);
    margin-top: 20px; 
}

.home .continue-to-article:hover {
    background-color: var(--text-dark-color);
}

.link-arrow {
    border: solid var(--cream-color);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 8px;
    transform: rotate(-45deg);
    transition: transform 0.5s ease; 
}

.additional-arrow {
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
    margin-left: 4px;
    transition-delay: 0s; 
}

.hero--link {
    align-self: flex-start;
    text-decoration: none;
}

.hero--link:hover .link-arrow {
    border-color: var(--pinkBright-color); 
    transform: translateX(5px) rotate(-45deg); 
}

.hero--link:hover .additional-arrow:nth-child(2) {
    opacity: 0.8;
    transition-delay: 0.1s; 
}

.hero--link:hover .additional-arrow:nth-child(3) {
    opacity: 0.6;
    transition-delay: 0.2s; 
}

.hero--link:hover .additional-arrow:nth-child(4) {
    opacity: 0.4;
    transition-delay: 0.3s; 
}

/* /////////////////////////////////////////////////// */
.aside {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

/* /////////////////////////////////////////////////// */
.mini-articles {
    grid-column: 1 / 4;
    grid-row: 2 / 4;
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    border-top: 1.5px solid var(--text-dark-color);
}
.mini-articles ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    grid-gap: 48px;
    padding-inline-start: 0;
}

.mini-article {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 30px;
}

.mini-articles h2 {
    align-self: self-start;
    font-size: 2rem;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    margin-top: 30px;
    margin-bottom: 30px;
}

.mini-article-link {
    /* border-top: 3px solid var(--darkBlue-color); */
    color: var(--text-dark-color);
    text-decoration: none;
    padding-top: 40px;
    padding-inline: 17px;
    width: 100%;
    height: 20rem;
    background-color: transparent;
    transition: 0.3s;
    position: relative;
}

.mini-article-link p {
    font-weight: 300;
}

.mini-article-link::before {
    content: "";
    height: 4px;
    /* background: var(--lightGray-color); */
    background: var(--text-dark-color);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: height 1s;
    -moz-transition: height 1s; 
    -ms-transition: height 1s; 
    -o-transition: height 1s;
    transition: height 1s;
    overflow: hidden;
    z-index: -1;
}

.mini-article-link:hover::before {
    height: 100%;
}

.mini-article-link:hover h3 {
    color: var(--text-light-color);
}

.mini-article-link:hover p {
    color: var(--grayishBlue-color);
    font-weight: 300;
}

.mini-article-link:hover span {
    color: var(--grayishBlue-color);
    font-weight: 300;
}

.mini-article-1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.mini-article-2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.mini-article-3 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.mini-article-4 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.mini-article-5 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.mini-article-6 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}


.mini-article-image {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini-article-image .svg-wrap {
    width: 130px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cream-color);
}

.mini-article-image-1 {
    background-color: var(--yellow-color);
}
.mini-article-image-1 .svg-wrap svg{
    fill: var(--hero-lightBlue);
}

.mini-article-image-2 {
    background-color: var(--hero-lightBlue);
}
.mini-article-image-2 .svg-wrap svg{
    fill: var(--hero-orange);
}

.mini-article-image-3 {
    background-color: var(--hero-pink);
}
.mini-article-image-3 .svg-wrap svg{
    fill: var(--hero-darkGreen);
}

/* .mini-article-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}  */

.mini-article h3 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-block: 20px;
}

.mini-article span {
    /* color: var(--gray-color); */
    font-size: 1.3rem;
    font-weight: 600;
    /* margin-top: 50px; */
}

.mini-article p {
    font-size: 0.9rem;
    font-weight: 500;
}

