
.home {
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin-inline: var(--main-margin);
}

.home--intro {
    width: 55%;
    line-height: 2.7rem;
}

.home--intro h1 {
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 1.8px;
}

.home--intro>div {
    display: flex;
    gap: 16px;
    align-items: center;
}

.home--intro--fontawe-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
}
.home--intro svg {
    font-size: 2.5rem;
}

.home--intro p {
    font-size: 2rem;
    font-weight: 500;
    margin-block: 16px;
    line-height: inherit;
}

/* SAMPLE PROJECTS */
.home--sample-projects {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    animation: moveUpOnLoad 1s ease-out;
}

@keyframes moveUpOnLoad {
    from {
        transform: translateY(50px);  
        opacity: 0;
    }
    to {
        transform: translateY(0);  
        opacity: 1;
    }
}


/* LINK TO PROJECTS PAGE */
.blog-link,
.projects-link {
    text-decoration: none;
    color: var(--text-light-color);
    font-weight: 400;
    font-size: 1.5rem;
    padding: 12px 24px;
    text-align: center;
    background-color: var(--text-dark-color);
    cursor: pointer;
    
}

.blog-link:hover,
.projects-link:hover {
    background-color: var(--yellow-color);
    color: var(--text-dark-color);
}


h2 {
    font-size: 2.5rem;
    font-weight: 600;
}


