
.projects {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.projects--intro p {
    margin-block: 0;
    width: 40rem;
}   

.projects--intro p:last-of-type {
    margin-bottom: 0;
} 

.projects--container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}


