
.projects {
    display: flex;
    flex-direction: column;
}

.projects h1 {
    font-size: 3.5rem;
    font-weight: 600;
    letter-spacing: 1.8px;
    /* font-family: "Playpen Sans", sans-serif; */
    margin-top: 40px;
    margin-bottom: 10px;
}

.projects--intro {
    margin-bottom: 48px;
    margin-top: 10px;
    padding-inline: calc(var(--main-margin) - 0.5*var(--navbar-margin));
    border-left: calc(0.5*var(--navbar-margin)) solid var(--yellow-color);
}

.projects--intro a {
    color: var(--blue-color);
}

.projects--container {
    display: flex;
    flex-direction: column;
}


