
.resources {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    grid-template-rows: repeat(2, auto); 
    gap: 10px; 
    margin-block: 64px;
    margin-inline: var(--main-margin);
    color: inherit;
}

.resources a {
    text-decoration: none;
    color: var(--text-nav-color);
    cursor: pointer;
}

.resources li {
    padding-left: 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.resources h1 {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.4;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
}

.resources h1 span {
    align-self: flex-start;
    font-weight: 700;
}

.resources-content {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 1rem;
    font-weight: 400;
}

.section-content {
    display: flex;
    flex-direction: column;
    gap: 90px;
    width: 70%;
}

.article {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.article--link {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.article a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

.article .article--author svg {
    display: none;
}
.article:hover .article--author svg,
.article:focus-within .article--author svg {
    display: block;
}
.article:hover .article--author svg circle,
.article:focus-within .article--author svg circle {
    fill: var(--pinkBright-color);
}

.article:hover .article--author svg path,
.article:focus-within .article--author svg path  {
    fill: var(--text-light-color);
}

.article:focus-within:not(:active) {
    outline: 3px solid var(--text-dark-color);
    outline-offset: 4px;
}

.article:focus-within:not(:active) .article--description{
    border-left: none;
}

.article:focus-within .article--link {
    outline: none;
}

/* .article:focus-visible {
    outline: none;
} */

.article--subtitle {
    font-size: 1rem;
    font-weight: 600;
    color: inherit;
    opacity: 0.7;
}

.article--description {
    border-left: var(--yellow-border) solid var(--yellow-color);
    padding-left: 20px;
}

.article--author {
    margin-top: 32px;
    line-height: 2;
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    gap: 10px;
    align-items: center;
}

/* *****TABLE OF CONTENTS***** */
.resources--table-contents {
    grid-column: 2 / 3; 
    grid-row: 1 / 3; 
    position: sticky;
    top: 100px; 
    height: 100vh; 
    gap: 0;
}


.resources--table-contents h2 {
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 700;
}

.resources--table-contents nav {
    /* width: 20rem; */
    max-width: fit-content;
    min-width: 18.5rem;
}

.resources--table-contents ul {
    font-family: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 28px;
    padding-inline-start: 0;
    background-color: var(--bg-dark-color);  
    border-radius: 10px;
    padding: 15px 15px 20px 15px;
    height: 15rem;
}

.resources--table-contents ul li a {
    align-self: flex-start;
    color: var(--cream-color);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
    letter-spacing: 0.3px;
}

.resources--table-contents ul li a:hover {
    color: var(--code-blue-color);
    border: 1.7px solid var(--code-blue-color);
    border-radius: 5px;
    padding: 2px;
    font-weight: 400; 
    text-decoration: none;
}

.resources--table-contents ul li a.active {
    color: var(--code-blue-color);
    border: 1.7px solid var(--code-blue-color);
    border-radius: 5px;
    padding: 2px;
    font-weight: 400; 
    text-decoration: none;
}

.resources--table-contents ul li a:focus-visible {
    text-decoration: none;
    outline: 2px solid var(--cream-color);
    outline-offset: 3px;
    border: none;
    border-radius: 0;
}

@media screen and (max-width: 1050px) {
    .resources {
        grid-template-columns: 1.8fr 1fr; 
        gap: 10px; 
    }
    .section-content {
        width: 95%;
    }
}

@media screen and (max-width: 970px) {
    .resources {
        display: flex;
        flex-direction: column;
    }

    .resources--table-contents {
        width: 100%;
        position: relative;
        height: auto;
        top: 0;
    }
    .resources--table-contents h2 {
        font-size: 1.1rem;
        font-weight: 700;
    }

    .resources--table-contents nav {
        width: 28rem;
        max-width: none;
        min-width: none;
    }

    .resources--table-contents ul {
        padding: 25px;
    }

    .section-content {
        width: 75%;
    }
}

@media screen and (max-width: 670px) {
    .resources {
        margin-inline: 0;
        margin-top: 0;
    }

    .resources h1 {
        margin-top: 0;
        line-height: 1.2;
    }
    .resources h1,
    .resources-content{
        margin-inline: var(--main-margin);
    }
    
    .resources--table-contents {
        width: 100%;
    }
    .resources--table-contents nav {
        width: 100%;
        max-width: none;
    }

    .resources--table-contents h2 {
        padding-inline: var(--main-margin);
    }
    .resources--table-contents ul {
        margin-inline: 0;
        padding-inline: var(--main-margin);
        gap: 30px;
        height: auto;
        padding-block: 25px;
    }
}

@media screen and (max-width: 620px) {
    .section-content {
        width: 98%;
    }
    .article--link {
        padding-bottom: 20px;
    }
    .resources--table-contents nav {
        max-width: none;
        min-width: none;
    }
    .resources--table-contents ul {
        border-radius: 0;
    }
}


