
/* .makeItTwo-container h1 {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    text-align: center;
} */

.custom-outline--button {
    background-color: #a1b0f8;
    border: none;
    color: var(--text-dark-color);
    font-size: 1rem;
    font-weight: 600;
    font-family: inherit;
    letter-spacing: 0.3px;
    padding: 12px 20px;
    align-self:auto;
    padding-left: 20px;
    cursor: pointer;
}

.custom-outline--button:focus-visible {
    outline: 3px dashed var(--text-dark-color);
}

.custom-outline--button:hover {
    outline: 3px dashed var(--text-dark-color);
    outline-offset: 4px;
}

.brightness--container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.brightness--buttons {
    display: flex;
    gap: 0;
    align-items: center;
    padding-inline-start: 0;  
}

.brightness--buttons button {
    background-color: var(--blue-color);
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.3px;
    padding: 12px 55px;
    text-align: center;
    text-decoration: none;
    border-radius: 0 !important;
}

.brightness--buttons button:not(:last-child) {
    border-right: 1.5px solid black;
}


.brightness--buttons button:focus-visible {
    outline: none;
    background-color: #08196e;
    color: white;
}

.brightness--buttons button:active {
    outline: none;
    background-color: #08196e;
    color: white;
}

.brightness--buttons button:hover {
    background-color: #08196e;
    color: white;
}

.brightness--did-you-know {
    margin-top: 30px;
    padding-bottom: 20px;
}
.brightness--did-you-know h4 {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    line-height: 1.7;
    margin-bottom: 30px;
}

.brightness--did-you-know li p {
    margin-block: 10px !important;
}

.code-keyboard {
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content:flex-start;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 30px;
    background-color: var(--code-bg-color);
    color: var(--cream-color);
    margin-bottom: 30px;
}

.code-keyboard--div {
    background-color: transparent;
    padding: 10px 20px;
    color: var(--cream-color);
}

@media screen and (max-width: 600px) {
    .code-keyboard {
        gap: 15px;
        padding-left: 15px;
    } 
}

.focus-ring {
    border: 4px dashed var(--code-blue-color);
}

@media screen and (max-width: 450px) {
    .brightness--buttons {
        flex-direction: column;
        align-items: flex-start;
    }

    .brightness--buttons button {
        width: 50%;
    }
    .brightness--buttons button:not(:last-child) {
        border-right: none;
    }
    .brightness--buttons button:not(:last-child) {
        border-bottom: 1.5px solid black;
    }
}