

.home--intro h1 {
    font-family: "Playpen Sans", sans-serif;
}

.home--intro--about {
    display: flex;
    flex-direction: column;      
}

.home--intro--lines:last-child p {
    margin-bottom: 0;
}


