
.recent-posts {
    margin-bottom: 96px;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}

.recent-posts--intro h2 {
    font-size: 2.5rem;
}

.recent-posts .subheading-div {
    width: 62rem;
}

.recent-posts .subheading-div p {
    font-size: 1.4rem;
}

@media screen and (max-width: 1050px) {
    .recent-posts .subheading-div {
        width: 90%;
    }
}

@media screen and (max-width: 700px) {
    .recent-posts .subheading-div {
        width: 95%;
    }
    .recent-posts .subheading-div p {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 550px) {
    .recent-posts .site-link {
        font-size: 1.4rem;
        width: 88%;
        margin-inline: auto;
    }
}













