
.recent-posts {
    margin-bottom: 96px;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.recent-posts .subheading-div {
    width: 51rem;
}

@media screen and (max-width: 1200px) {
    .recent-posts .subheading-div {
        width: 45rem;
    }
}

@media screen and (max-width: 800px) {
    .recent-posts .subheading-div {
        width: 43rem;
    }
}

@media screen and (max-width: 700px) {
    .recent-posts .subheading-div {
        width: 100%;
    }
}













