
.sample-projects {
    display: flex;
    flex-direction: column;
    gap: 40px;
    animation: moveUpOnLoad 1s ease-out;
}

.sample-projects--div {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.sample-projects--div > * {
    flex: 1;
}

.sample-projects h2 {
    margin-bottom: 0;
}

@keyframes moveUpOnLoad {
    from {
        transform: translateY(50px);  
        opacity: 0;
    }
    to {
        transform: translateY(0);  
        opacity: 1;
    }
}

@media (max-width: 600px) {
    .sample-projects--div {
        flex-direction: column;
    }

    .twain-company {
        display: block;
    }
}







