
.sample-project {
    display: flex;
    flex-direction: column;
    animation: moveUpOnLoad 1s ease-out;
}

@keyframes moveUpOnLoad {
    from {
        transform: translateY(50px);  
        opacity: 0;
    }
    to {
        transform: translateY(0);  
        opacity: 1;
    }
}

.sample-project--image {
    aspect-ratio: 1 / 1;
    background-color: var(--lightGray-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sample-project--image img {
    width: 80%;
    height: 60%;
    object-fit: cover;
}

.sample-project--link {
    text-decoration: none;
    color: var(--text-dark-color);
}

.sample-project--title {
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 32px;
    position: relative; 
    display: inline-block;
    padding-bottom: 10px;
    /* to control the width of the before element */
    align-self: start;
}

.sample-project--title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 3px;
    background-color: var(--text-dark-color);
    transition: width 1s;
}

.sample-project--title:hover::before {
    width: 100%;
}

.sample-project--description {
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 0;
}