
.we-can-help {
    background-color: var(--text-dark-color);
    color: var(--text-light-color);
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.we-can-help ul {
    padding-inline-start: 0;
}
.we-can-help ul li {
    padding-bottom: 30px;
    border-bottom: 0.3px solid var(--grayishBlue-color);
}

.we-can-help--link:focus-visible {
    outline: 3px dashed red !important;
}

.we-can-help ul li:last-of-type {
    border-bottom: none;
}

.we-can-help article:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.we-can-help h2 {
    /* color: var(--yellow-color); */
    color: inherit;
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
}

.we-can-help h3 {
    color: inherit;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 5px;
}

.we-can-help p {
    color: var(--grayishBlue-color);
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.5;
}

.we-can-help a {
    color: inherit;
    text-decoration: none;
}

.we-can-help .article-link {
    text-decoration: underline;
}
