
.we-can-help {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    background-color: var(--text-dark-color);
    color: var(--text-light-color);
    padding: 25px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

@media screen and (max-width: 900px) {
    .we-can-help {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .we-can-help {
        display: block;
        grid-column: 1 / 4;
        grid-row: 3 / 4;
    }
}

.we-can-help ul {
    padding-inline-start: 0;
}
.we-can-help ul li {
    padding-bottom: 30px;
    border-bottom: 0.3px solid var(--grayishBlue-color);
}

/* .we-can-help--link:focus-visible {
    outline: 3px dashed red !important;
} */

.we-can-help ul li:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
}

.we-can-help article:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.we-can-help h2 {
    color: inherit;
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
}

.we-can-help h3 {
    color: inherit;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 5px;
}

.we-can-help p {
    color: var(--grayishBlue-color);
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.7;
}

.we-can-help a {
    color: inherit;
    text-decoration: underline;
    font-weight: 400;
    text-underline-offset: 4px !important;
    padding: 2px;
}

.we-can-help a:hover {
    color: inherit;
    text-decoration: underline;
    font-weight: 400;
    text-underline-offset: 5px !important;
    text-decoration-style: wavy;
    text-decoration-color: var(--pinkBright-color);
    /* padding: 2px; */
    /* text-decoration-thickness: 6px; */
}

.we-can-help a:focus-visible {
    text-decoration: none;
    outline: 3px dashed var(--pinkBright-color);
    outline-offset: 2.5px;
}

.we-can-help svg path {
    fill: var(--pinkBright-color);
}

/* .we-can-help li:nth-of-type(3) a span:nth-of-type(2) {
    background-color: white;
    height: 0.8rem;
    width: 0.95rem;
   font-size: 0;
    border-radius: 5px;
    padding: 0;
} */