
.we-can-help {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    background-color: var(--text-dark-color);
    color: var(--text-light-color);
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

@media screen and (max-width: 900px) {
    .we-can-help {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .we-can-help {
        display: block;
        grid-column: 1 / 4;
        grid-row: 3 / 4;
    }
}

.we-can-help ul {
    padding-inline-start: 0;
}
.we-can-help ul li {
    padding-bottom: 25px;
    border-bottom: 0.3px solid var(--grayishBlue-color);
}

/* .we-can-help--link:focus-visible {
    outline: 3px dashed red !important;
} */

.we-can-help ul li:last-of-type {
    border-bottom: none;
}

.we-can-help article:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.we-can-help h2 {
    color: inherit;
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
}

.we-can-help h3 {
    color: inherit;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 5px;
}

.we-can-help p {
    color: var(--grayishBlue-color);
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.5;
}

.we-can-help a {
    color: inherit;
    text-decoration: underline;
    text-underline-offset: 3px;
    padding: 2px;
}

.we-can-help a:hover {
    font-weight: 700;
}

.we-can-help a:focus-visible {
    text-decoration: none;
    outline: 3px dashed var(--pinkBright-color);
    outline-offset: 4px;
}

.we-can-help .external-linksvg-wrap svg {
    /* color: var(--pinkBright-color); */
    color: white;
    height: 1rem;
}

.we-can-help .external-linksvg-wrap svg path {
    color: var(--pinkBright-color);
    /* color: white; */
}