.banner-modal-content .modal-close-button {
    background-color: transparent;
    padding: 0;
    border: none;
    margin: 0;
    width: 30px;
    height: 30px;
    background-image: url(/assets/xmark-solid.svg);
    background-repeat: no-repeat; 
    background-position: center;
    background-size: 30px 30px;
    position: absolute;
    top: 20px;
    right: calc(0.5*var(--navbar-margin));
    cursor: pointer;
}

.message {
    font-size: 1.1rem;
    font-weight: 500;
}

.banner-modal-overlay {
    z-index: 1000;
    position: fixed;
    top: 12%;
    left: 5%;
    right: 5%;
    bottom: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-modal-content {
    position: relative;
    overflow: auto;
    border-radius: 0;
    padding: 10px;
    border: none;
    background: var(--yellow-color);
    width: 100%;
    height: 100%;  
    display: flex;
    align-items: center;
    justify-content: center; 
}

@media (max-width: 700px) {
    .banner-modal-overlay {
        top: 10%;
        left: 0;
        right: 0;
        bottom: 70%;
    }
    .message {
        margin-top: 30px;
        font-size: 1rem;
    }
    .banner-modal-content .modal-close-button {
        top: 10px;
        right: 10px;
    }
}

@media (max-width: 300px) {
    .message {
        font-size: 0.9rem;
    }

    .banner-modal .modal-close-button {
        top: 5px;
        right: 5px;
    }
}

