header {
    position: fixed;
    background-color: var(--cream-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-dark-color);
    padding: 20px var(--main-margin);
    width: 100%;
    z-index: 100;
}

.header--left {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-bottom: 10px;
}

.beta {
    background-color: var(--hero-pink);
    color: var(--text-dark-color);
    border: var(--beta-border);
    padding: 2px 6px 2px 7px;
    border-radius: 10px;
    vertical-align: middle;
    margin-top: 5px;
    display: inline;
    font-size: 0.85rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

header .logo-link:hover {
    color: var(--text-dark-color);
}

.skip-to-content {
    position: absolute;
    left: 30%;
    top: 30%;
    z-index: 100;
    background-color: var(--yellow-color);
    border-radius: 10px;
    border: var(--cta-border);
    color: black;
    font-size: 1rem;
    font-weight: 600;
    padding: 5px 20px;
    margin-inline: auto;
    text-decoration: none;
    transform: translateY(-300%);
    transition: transform 250ms ease-in;
}
  
.skip-to-content:focus {
    transform: translateY(0%);
}

.skip-to-content:focus-visible {
    outline: var(--outline-thickness) solid var(--paragraph-color);
    border-radius: 10px;
    outline-offset: 5px;
}

.mobile-nav-toggle {
    display: none;
}


@media (max-width: 800px) {
    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 2000;
        right: var(--navbar-margin);
        top: 20px;
        background: transparent;
        /* background-image: url(/assets/icon-menu-dark.svg); */
        background-repeat: no-repeat;
        background-position: center;
        width: 1.5rem;
        aspect-ratio: 1;
        border: 0;
        
    }

    .mobile-nav-toggle svg {
        fill: var(--menu-fill);
    }
    
    .mobile-nav-toggle:focus-visible {
        outline: 2px solid var(--menu-fill);
        outline-offset: 2px;
    }
}

@media (max-width: 450px) {
    .mobile-nav-toggle {
        right: calc(0.5*var(--navbar-margin));
    }
    .beta {
        margin-top: 3px;
    }
}

@media (max-width: 360px) {
    header {
        align-items:baseline;
        line-height: 1;
    }
}