
header {
    position: fixed;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-dark-color);
    padding: 20px var(--main-margin);
    width: 100%;
    z-index: 100;
}

@media screen and (max-width: 450px) {
    header {
        padding: 16px calc(0.5*var(--navbar-margin));
    }
}
.header-left {
    display: flex;
    flex-direction: column;
    position: relative;
}

.logo {
    color: var(--very-dark-blue);
    margin: 0;
    padding: 0;
    font-size: 1.7rem;
    font-weight: 700;
    /* font-family: "Playpen Sans", sans-serif; */
    text-decoration: none;
    letter-spacing: -0.5px;
    display: flex;
    align-self: start;
}

.logo-vertical {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 300;
    margin-inline: 5px;
}

.logo:hover {
    color: var(--text-dark-color);
}

@media (max-width: 450px) {
    .header-left span {
        font-size: 0.8rem;
    }  
}

@media (max-width: 330px) {
    .header-left span {
        display: none;
    }  
}

.skip-to-content {
    position: absolute;
    left: 30%;
    top: 30%;
    z-index: 100;
    background-color: var(--yellow-color);
    color: black;
    font-size: 1rem;
    font-weight: 600;
    padding: 5px 20px;
    margin-inline: auto;
    text-decoration: none;
    transform: translateY(-300%);
    transition: transform 250ms ease-in;
}
  
.skip-to-content:focus {
    transform: translateY(0%);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mobile-nav-toggle {
    display: none;
}

@media (max-width: 850px) {
    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 2000;
        right: var(--navbar-margin);
        background: transparent;
        background-image: url(/assets/icon-menu-dark.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 1.5rem;
        aspect-ratio: 1;
        border: 0;
    }
    
    .mobile-nav-toggle:focus-visible {
        outline: 5px solid black;
        outline-offset: 5px;
    }
}

@media (max-width: 450px) {
    .mobile-nav-toggle {
        right: calc(0.5*var(--navbar-margin));
    }

}
