

.primary-navigation {
    display: flex;
}

.navbar a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    font-size: 0.9rem;
    padding: 8px 0;
    margin-left: 40px;
    position: relative; 
}

.nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--text-dark-color);
    transition: width 0.8s;
}

.nav-link:hover::before {
    width: 100%;
}

.nav-link.active-link::before {
    width: 100%;
}

@media (max-width: 850px) {
    .primary-navigation {
        display: none; 
    }
}