

.primary-navigation {
    display: flex;
}

.nav-link {
    text-decoration: none;
    color: var(--text-nav-color);
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: -0.2px;
    padding: 4px 3px;
    margin-left: 40px;
}


.nav-link:hover {
    text-decoration: underline;
    color: var(--text-nav-color);
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
}

.active-link {
    text-decoration: underline;
    color: var(--text-nav-color);
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
}

.nav-link:focus-visible {
    outline: 2px solid var(--text-nav-color);
    outline-offset: 3px;
    text-decoration: none;
}

@media screen and (min-width: 700px) {
    .primary-navigation .mobile-only-link {
        display: none;
    }
    
}
@media (max-width: 700px) {
    .primary-navigation {
        display: none; 
    }
}