.primary-navigation {
    display: flex;
}

.nav-link {
    text-decoration: none;
    color: var(--text-nav-color);
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: -0.2px;
    padding: 4px 3px;
    margin-left: 40px;
}

/* .light {
    color: var(--bg-dark-color);
    background-color: var(--cream-color);
}

.dark {
    color: var(--cream-color);
    background-color: var(--bg-dark-color);
} */

.nav-link.dark {
    font-weight: 500;
}


.nav-link:hover {
    text-decoration: underline;
    color: var(--text-nav-color);
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
}

.nav-link.dark:hover {
    text-decoration: underline;
    color: var(--cream-color);
    text-underline-offset: 3px;
    text-decoration-thickness: 1.5px;
}

.active-link {
    text-decoration: underline;
    color: var(--text-nav-color);
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
}

.active-link.dark {
    text-decoration-thickness: 1px;
}

.nav-link:focus-visible {
    outline: 2px solid var(--text-nav-color);
    outline-offset: 2px;
    text-decoration: none;
    border-radius: 7px;
}

.nav-link.dark:focus-visible {
    outline: 1.5px solid var(--cream-color);
}


/***** theme toggle ******/

.theme-toggle {
    border: none;
    background: var(--cream-color);
    cursor: pointer;
}

nav.dark .theme-toggle {
    background: var(--bg-dark-color);
}

/******* moon ************/
.theme-toggle svg[id="moon"] circle {
    fill: var(--text-dark-color);
}

.theme-toggle svg[id="moon"] path {
    fill: var(--text-dark-color);
}


nav.dark .theme-toggle svg[id="moon"] {
    display: none;
}

/******* moon ************/

.theme-toggle svg[id="sun"] {
    display: none; 
}

nav.dark .theme-toggle svg[id="sun"] {
    display: inline;
}

.theme-toggle svg[id="sun"] circle {
    fill: var(--yellow-color);
}

.theme-toggle svg[id="sun"] path {
    fill: var(--yellow-color);
}


@media screen and (min-width: 725px) {
    .primary-navigation .mobile-only-link {
        display: none;
    }
    
}
@media (max-width: 725px) {
    .primary-navigation {
        display: none; 
    }
}