.primary-navigation {
    display: flex;
}

.nav-link {
    text-decoration: none;
    color: var(--paragraph-color);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: -0.2px;
    padding: 4px 3px;
    margin-left: 40px;
}

.nav-link.dark {
    font-weight: 300;
}


.nav-link:hover {
    text-decoration: underline;
    color: var(--text-nav-color);
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
}

.nav-link.dark:hover {
    text-decoration: underline;
    color: var(--cream-color);
    /* text-underline-offset: 3px;
    text-decoration-thickness: 1.5px; */
}

.active-link {
    text-decoration: underline;
    color: var(--text-nav-color);
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
}

.active-link.dark {
    text-decoration-thickness: 1px;
}

.nav-link:focus-visible {
    outline: 2px solid var(--text-nav-color);
    outline-offset: 2px;
    text-decoration: none;
    border-radius: 7px;
}

.nav-link.dark:focus-visible {
    outline: 1.5px solid var(--cream-color);
}


/***** theme toggle ******/

.theme-toggle {
    border: none;
    background: var(--cream-color);
    cursor: pointer;
    /* margin-top: -5px; */
    margin-left: 50px;
    /* padding-left: 0; */
    display: flex;
    align-items: center;
    justify-content: center;
}

nav.dark .theme-toggle {
    background: var(--bg-dark-color);
}

/******* moon ************/
.theme-toggle svg[id="moon"] circle {
    fill: var(--text-dark-color);
}

.theme-toggle svg[id="moon"] path {
    fill: var(--text-dark-color);
}


nav.dark .theme-toggle svg[id="moon"] {
    display: none;
}

/******* sun ************/
.theme-toggle svg[id="sun"] {
    display: none; 
}

nav.dark .theme-toggle svg[id="sun"] {
    display: inline;
}

.theme-toggle svg[id="sun"] circle {
    fill: var(--yellow-color);
}

.theme-toggle svg[id="sun"] path {
    fill: var(--yellow-color);
}


@media screen and (min-width: 800px) {
    .primary-navigation .mobile-only-link {
        display: none;
    }
    
}
@media (max-width: 800px) {
    .primary-navigation {
        display: none; 
    }

    .nav-link {
        margin-left: 0;
    }
}