.tip {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-block: 12px;
}

.tip-button {
    background: none;
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0;
    cursor: pointer;
}

.square {
    width: 10px;
    height: 6px;
    background-color: var(--yellow-color);
}

