
header {
    position: fixed;
    background-color: var(--lightGray-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-dark-color);
    padding: 16px var(--navbar-margin);
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.site-name-container {
    display: flex;
    flex-direction: column;
}
.site-name {
    color: inherit;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: "Playpen Sans", sans-serif;
    color: var(--blue-color);
    text-decoration: none;
    display: flex;
    align-self: flex-start;
}

.site-name:hover {
    color: var(--text-dark-color);
}

.site-name-container span {
    font-size: 0.9rem;
    font-weight: 500;
}

/* all nav links */
nav {
    display: flex;
}

nav a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    font-size: 0.9rem;
    padding: 8px 0;
    margin-left: 40px;
    position: relative; 
}

.nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 0;
    height: 2px;
    background-color: var(--text-dark-color);
    transition: width 0.8s;
}

.nav-link:hover::before {
    width: 100%;
}

.nav-link.active-link::before {
    width: 100%;
}
