.home--intro {
    line-height: 2.7rem;
    margin-top: 48px;
}

.home--intro--about {
    display: flex;
    flex-direction: column;
    padding-left: calc(var(--main-margin) - 0.5*var(--navbar-margin));
    border-left: calc(0.5*var(--navbar-margin)) solid var(--yellow-color);
}

.home--intro h1 {
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 1.8px;
    font-family: "Playpen Sans", sans-serif;
    margin-top: 0;
}

.home--intro--lines {
    width: 90%;
}

/* .home--intro--fontawe-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
}
.home--intro svg {
    font-size: 2.5rem;
} */

.home--intro p {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 32px;
    margin-bottom: 0;
    line-height: inherit;
}

/* h2 {
    font-size: 2.5rem;
    font-weight: 600;
} */


