
.recent-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    background-color: var(--lightGray-color);
    padding-inline: var(--main-margin);
    padding-block: 48px;
}

.recent-post:not(:last-child) {
    margin-bottom: 96px;
}

.recent-post--left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55%;
}

.recent-post h4 {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.5rem;
    margin-block: 0;
    width: 80%;
}

.recent-post--description {
    width: 90%;
}

.recent-post--right {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.recent-post--image {
    width: 100%;
    height: 100%;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.recent-post--image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo-credit {
    position: absolute;
    bottom: -2rem;
}

.photo-credit a {
    font-size: 0.9rem;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    font-weight: 600;
}

.photo-credit--link {
    position: relative;
}

.photo-credit--link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--text-dark-color);
    transition: width 0.8s;
}

.photo-credit--link:hover::before {
    width: 100%;
}


.read-more {
    position: relative;
    text-decoration: none;
    color: var(--blue-color);
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

.read-more::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px; 
    background-color: var(--blue-color);
    transition: width 0.5s; 
}

.read-more:hover::before {
    width: 100%; 
}