
.recent-blog-post {
    display: flex;
    gap: 4rem;
}

.recent-blog-post h3 {
    line-height: 3rem;
    margin-block: 0;
    width: 80%;
}

.recent-blog-post--description {
    width: 90%;
}

.recent-blog-post--left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 0.8rem;
}

.recent-blog-post--left a {
    text-decoration: none;
    color: var(--text-dark-color);
}

.recent-blog-post--left a:hover {
    text-decoration: none;
    color: var(--blue-color);
}

.recent-blog-post--right {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recent-blog-post--right img {
    width: 100%;
    object-fit: cover;
}

.photo-credit {
    min-height: 2rem;
}

.photo-credit a {
    text-decoration: none;
    color: inherit;
    
}

.photo-credit a:hover {
    text-decoration: none;
    font-weight: 700;
}