
.recent-blog-post {
    display: flex;
    gap: 4rem;
}

.recent-blog-post h3 {
    line-height: 3rem;
    margin-block: 0;
    width: 80%;
}

.recent-blog-post--description {
    width: 90%;
}

.recent-blog-post--left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.recent-blog-post--left--title-anchor {
    text-decoration: none;
    color: var(--text-dark-color);
}

.recent-blog-post--left--title-anchor:hover {
    text-decoration: none;
    color: var(--blue-color);
}

.recent-blog-post--right {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.recent-blog-post--right--image-div {
    width: 100%;
    height: 100%;
}

.recent-blog-post--right--image-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo-credit {
    position: absolute;
    bottom: -2rem;
}

.photo-credit a {
    text-decoration: none;
    color: inherit;
    
}

.photo-credit a:hover {
    text-decoration: none;
    font-weight: 700;
}

.recent-post-link {
    text-decoration: none;
    color: var(--text-light-color);
    font-weight: 400;
    font-size: 1.5rem;
    padding: 0.7rem 1.5rem;
    text-align: center;
    background-color: var(--text-dark-color);
    cursor: pointer;
    width: 50%;
    
}

.recent-post-link:hover {
    background-color: var(--yellow-color);
    color: var(--text-dark-color);
}