
/* .recent-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    background-color: var(--lightGray-color);
    padding-inline: var(--main-margin);
    padding-block: 48px;
} */

.recent-post {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    background-color: var(--lightGray-color);
    padding-inline: var(--main-margin);
    padding-block: 48px;
}

.recent-post:not(:last-child) {
    margin-bottom: 96px;
}

.recent-post--right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 2 / 4;
}

.recent-post h4 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-block: 0;
}

.recent-post--description {
    width: 90%;
}

.recent-post--left {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    position: relative;
    grid-column: 1  / 2;
}

.recent-post--image {
    width: 100%;
    height: 270px;
}

.recent-post--image img {
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.recent-post .photo-credit {
    position: absolute;
    bottom: -20px;
}

.photo-credit a {
    font-size: 0.9rem;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    font-weight: 600;
}

.photo-credit--link {
    position: relative;
}

.photo-credit--link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: var(--text-dark-color);
    transition: width 0.8s;
}

.photo-credit--link:hover::before {
    width: 100%;
}


.read-more {
    position: relative;
    text-decoration: none;
    color: var(--blue-color);
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

.read-more::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px; 
    background-color: var(--blue-color);
    transition: width 0.5s; 
}

.read-more:hover::before {
    width: 100%; 
}