
.recent-blog-post {
    display: flex;
    gap: 4rem;
}

.recent-blog-post--left {
    width: 50%;
}

.recent-blog-post--right {
    width: 50%;
}
.recent-blog-post--left a {
    text-decoration: none;
    color: var(--text-dark-color);
}

.recent-blog-post--left a:hover {
    text-decoration: none;
    color: var(--blue-color);
}