
.warning-triangle {
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 23px solid var(--pinkBright-color);
    position: absolute;
    left: 20px;
    top: 40px;
}

.warning-triangle::after {
    content: "!";
    color: white;
    position: absolute;
    top: 5px;
    left: -2.5px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 670px) {
    
    .warning-triangle {
        left: var(--main-margin);
        top: 30px;
    }
    
}
@media screen and (max-width: 510px) {
    .warning-triangle::after {
        left: -2.5px;
    }
}