footer {
    background-color: var(--text-dark-color);
    color: var(--cream-color);
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 80px;
    padding: 48px var(--main-margin);
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

footer .logo {
    color: var(--cream-color);
    font-weight: 500;
}

footer .logo-vertical {
    font-weight: 200;
}

.footer-right {
    display: flex;
    align-items: left;
    gap: 128px;
    margin-right: 24px;
}

.footer-right--social {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-right--navigation {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-bottom {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    padding-top: 20px;
    border-top: 1px solid var(--gray-color);
    display: flex;
    gap: 10px;
}

footer a {
    text-decoration: none;
    color: inherit;
    font-weight: 300;
    margin-bottom: 10px;
}

footer a:focus-visible {
    outline: 2px dashed var(--cream-color);
    outline-offset: 4px;
}

footer .logo:hover {
    font-weight: 500;
    outline: 2px dashed var(--cream-color);
    outline-offset: 4px;
}

footer a:hover {
    color: var(--cream-color);
    font-weight: 300;
}

footer ul {
    padding-inline-start: 0;
}

footer li {
    margin-bottom: 25px;
}

.footer-nav-link {
    position: relative;
}

.footer-nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: var(--cream-color);
    transition: width 0.8s;
}

.footer-nav-link:hover::before {
    width: 100%;
}

.footer-heading {
    font-size: 1rem;
    color: var(--pinkBright-color);
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 3px;
}

@media (min-width: 801px) and (max-width: 1200px) {
    footer {
        padding: 2rem calc(var(--navbar-margin));
    }
}

@media (max-width: 800px) {
    footer {
        padding: 2rem calc(var(--navbar-margin));
    }

    .footer-right {
        gap: 50px;
    }
}

@media (max-width: 650px) {
    footer {
        padding: 2rem calc(var(--main-margin));
    }
    .footer-top {
        flex-direction: column;
        gap: 40px;
    }

    .footer-right {
        gap: 80px;
    }

    .footer-left span {
        margin-bottom: 30px;
    }

    .footer-bottom span {
        align-self: start;
    }
    .footer-bottom {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .vertical-bar {
        display: none !important;
    }
    .copyright {
        align-self: start;
    }

}

@media (max-width: 360px) {
    .footer-left {
        margin-bottom: 40px;
    }
}

@media (max-width: 330px) {
    .footer-right {
        flex-direction: column;
        gap: 20px;
    }    
}
    
