footer {
    background-color: var(--lightGray-color);
    color: var(--text-dark-color);
    display: flex;
    flex-direction: column;
    margin-top: auto;
    padding: 2rem var(--main-margin);
    font-weight: 500;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.footer-left .logo {
    align-content: start;
}

.footer-right {
    display: flex;
    align-items: left;
    gap: 128px;
    margin-right: 24px;
}

.footer-right--social {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-right--navigation {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-bottom {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    padding-top: 20px;
    border-top: 1px solid var(--gray-color);
    display: flex;
    gap: 10px;
}

footer a {
    text-decoration: none;
    color: inherit;
    margin-bottom: 10px;
}

footer li {
    margin-bottom: 25px;
}

.footer-nav-link {
    position: relative;
}

.footer-nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: var(--text-dark-color);
    transition: width 0.8s;
}

.footer-nav-link:hover::before {
    width: 100%;
}

.footer-heading {
    font-size: 1rem;
    color: var(--blue-color);
    font-weight: 500;
    text-transform: uppercase;
}

.react-logo {
    width: 16px;
    aspect-ratio: 1 / 1;
}

.built-span {
    display: flex;
    align-items: center;
    gap: 4px;
}


@media (min-width: 801px) and (max-width: 1200px) {
    footer {
        padding: 2rem calc(0.5*var(--main-margin));
    }
}

@media (max-width: 800px) {
    footer {
        padding: 2rem calc(0.2*var(--main-margin));
    }
}

@media (max-width: 600px) {
    footer {
        padding: 2rem calc(0.2*var(--main-margin));
    }
    .footer-top {
        flex-direction: column;
        gap: 20px;
    }

    .footer-left span {
        margin-bottom: 30px;
    }

    .footer-bottom span {
        align-self: start;
    }
    .footer-bottom {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .vertical-bar {
        display: none !important;
    }
    .copyright {
        align-self: start;
    }

}

