
*.light-theme {
    background-color: var(--cream-color);
    color: var(--text-dark-color);
  }
  
*.dark-theme {
    background-color: var(--text-dark-color);
    color: var(--cream-color);
    
}

*.dark-theme p {
    font-weight: 300;
}
