
.article-container {
    display: grid;
    grid-template-columns: 2fr 0.8fr;
    grid-template-rows: repeat(4, auto);
    gap: 10px;
}

.article-container h1 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    margin-left: var(--main-margin);
    font-size: 3rem;
    margin-top: 30px;
}

.article-container .subtitle {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    color: var(--pinkBright-color);
    font-size: 1.3rem;
    font-weight: 600;
    margin-left: var(--main-margin);
    margin-bottom: 50px;
}

.article-content {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 0.9rem;
    font-weight: 500;
    width: 70%;
    margin-left: var(--main-margin);
}

.back-links {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 100px;
    margin-left: var(--main-margin);
}

.back-links a {
    text-decoration: none;
}

.blue-text {
    color: blue;
}

.green-text {
    color: rgb(4, 159, 46);
}

.pink-text {
    color: var(--pinkBright-color);
}

.bold {
    font-weight: 600;
}

.conclusion {
    margin-top: 40px;
}

.details-title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}


.fake-list-item {
    position: relative;
    padding-left: 20px;
}

.fake-list-item::before {
    content: "•"; 
    color: var(--pinkBright-color);
    font-size: 25px; 
    position: absolute;
    left: -20px; 
    top: -11px;
    padding-left: 20px;
}

.gray-bg code { 
    background-color: #adb5bd;
    color: var(--text-dark-color);
    padding: 2px 3px;
    border-radius: 3px;
}

h2, h3, h4 {
    letter-spacing: 0.5px;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.5rem;
    margin-top: 50px;
}

h4 {
    font-size: 1.2rem;
}

.heading {
    margin-top: 48px;
}

.heading-link {
    position: absolute;
    left: -30px;
    top: 2px;
}

.heading-link svg {
    opacity: 0; 
    transition: opacity 0.3s; 
}

.heading-link:focus svg, .heading-link:hover svg {
    opacity: 1; 
}

.hover-pink:hover {
    color: var(--pinkBright-color);
    opacity: 1;
    text-decoration: underline;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.next-article {
    width: 100%;
}

.next-article a {
    font-size: 0.9rem;
    font-family: inherit;
}


.padding-left-30 {
    padding-left: 30px;
}

.padding-left-60 {
    padding-left: 60px;
}

.padding-left-90 {
    padding-left: 90px;
}

.padding-left-120 {
    padding-left: 120px;
}

.pink-bg {
    background-color: var(--pinkBright-color);
    color: var(--text-light-color);
    font-weight: 600;
    padding: 5px 10px;
}

.pink-bg-white-text {
    background-color: var(--pinkBright-color);
    color: var(--text-light-color);
    padding: 1px 3px;
    border-radius: 2px;
}


.pink-num {
    color: var(--pinkBright-color);
    font-size: 0.9rem;
    font-weight: 700;
}

.scroll-target::before {
    content: '';
    display: block;
    height: 40px;
    visibility: hidden;
    pointer-events: none;
}

.stats {
    font-weight: 600;
    padding: 2px 3px;
    border-radius: 3px;
    background-color: #dee2e6;
}
strong {
    letter-spacing: 0.8px;
}



.white-bg code {
    background-color: #dee2e6;
    padding: 2px 3px;
    border-radius: 3px;
}