
a {
    color: var(--blue-color);
    letter-spacing: 0.5px;
    text-decoration: underline;
    text-underline-offset: 3px;
}

a:hover {
    color: var(--text-dark-color);
    /* font-weight: 600; */
}

a:focus-visible {
    text-decoration: none;
}

.article-heading {
    display: flex;
    flex-direction: column;
}

.article-heading span:nth-of-type(2) {
    align-self: flex-start;
}

.article-content a {
    padding: 2px;
}

.article-content a:hover {
    background-color: var(--yellowFaded-color);
    border-radius: 4px;
    
}

.article-container {
    display: grid;
    grid-template-columns: 2fr 0.8fr;
    grid-template-rows: repeat(4, auto);
    gap: 10px;
    padding-bottom: 100px;
    margin-left: var(--main-margin);
}

.article-container h1 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    /* margin-left: var(--main-margin); */
    font-size: 3rem;
    margin-top: 30px;
    font-weight: 600;
}

/* @media screen and (max-width: 1050px){
    .article-container h1 {
        font-size: 2.7rem;
    }
} */

.article-container .subtitle {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    color: var(--pinkBright-color);
    font-size: 1.3rem;
    font-weight: 600;
    /* margin-left: var(--main-margin); */
    margin-bottom: 50px;
}

.article-content {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 0.9rem;
    font-weight: 500;
    width: 39rem;
    max-width: 100%;
    /* margin-left: var(--main-margin); */
}

/* .article-content div p:not(:first-of-type) {
    margin-top: 10px;
} */

.article-content h3 {
    /* margin-bottom: 10px; */
    margin-top: 20px;
    color: inherit;
}

.blue-heading {
    align-self: left;
    color: var(--blue-color);
    display: inline-block;
    line-height: 1.1;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.bold {
    font-weight: 600;
}

.border-top {
    border-top: 1.7px solid gray;
    margin-top: 60px;
    padding-top: 30px;
}

.bullet-point-line {
    position: relative;
    padding-left: 20px;
    /* margin-top: 20px; */
}

.bullet-point-line::before {
    content: "•"; 
    color: var(--pinkBright-color);
    font-size: 25px; 
    position: absolute;
    left: -20px; 
    top: -11px;
    padding-left: 20px;
}

.checkmark-line p {
    display: flex;
    gap: 10px;
    font-size: 0.9rem;
    line-height: 2;
    letter-spacing: 0.5px;
    margin-block: 10px;
} 

.close-details-button {
    background-color: #a1b0f8;
    border: none;
    color: var(--text-dark-color);
    font-size: 0.9rem;
    font-weight: 600;
    padding: 10px 15px;
    align-self:auto;
    padding-left: 20px;
    cursor: pointer;
}

.close-details-button:focus-visible {
    outline: 3px dashed var(--text-dark-color);
}

.close-details-button:hover {
    background-color: #08196e;
    color: white;
}

.code {
    width: 100%; 
    overflow-x: auto; 
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 30px;
    background-color: var(--code-bg-color);
    color: var(--cream-color);
    margin-bottom: 30px;
}

.highlight .code {
    width: 100%;
}

.code-small {
    width: 95%;
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    font-weight: 500;
    padding: 25px;
    background-color: var(--code-bg-color);
    color: var(--cream-color);
    margin-bottom: 20px;
    margin-left: 20px;
}

.code code:not(:last-of-type) {
    margin-bottom: 10px;
    color: white;
}

.code-blue-color {
    color: var(--code-blue-color);
}

.code-yellow-color {
    color: var(--code-yellow-color);
}

.code-pink-color {
    color: var(--code-pink-color);
}

.code-purple-color {
    color: var(--code-purple-color);
}


.conclusion {
    margin-top: 40px;
}

.dark-bg-white-text {
    background-color: var(--text-dark-color);
    color: var(--cream-color);
    font-weight: 600;
    padding: 1px 3px;
    border-radius: 2px;
}

.details-content {
    max-height: 250px; 
    overflow-y: auto;
    padding-right: 20px;
}

.details-content::-webkit-scrollbar {
    width: 10px;
}

.details-content::-webkit-scrollbar-track {
    background: var(--cream-color);
}

.details-content::-webkit-scrollbar-thumb {
    background: var(--yellowFaded-color);
}

.details-content::-webkit-scrollbar-thumb:hover {
background: var(--pinkBright-color); 
}
  
.exclamation {
    color: var(--pinkBright-color);
    font-size: 1.2rem;
    font-weight: 700;
}

.external-linksvg-wrap {
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 5px; */
}

.external-linksvg-wrap svg {
    fill: var(--blue-color);
    height: 1rem;
}

.fake-heading-p {
    font-weight: 700;
    font-size: 1rem;
}

*:focus-visible {
    outline: 3px dashed var(--text-dark-color);
    outline-offset: 2px;
}

.font-size-1 {
    font-size: 1.1rem;
}

.gray-bg code { 
    background-color: #adb5bd;
    color: var(--text-dark-color);
    padding: 2px 3px;
    border-radius: 3px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.3;
    margin: 0;
}

h2, h3, h4 {
    letter-spacing: 0.5px;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 0;
}

h4 {
    font-size: 1.2rem;
    margin-block: 20px;
    line-height: 2;
}

.heading {
    margin-top: 48px;
}

/* .heading-link {
    position: absolute;
    left: -30px;
    top: 2px;
}

.heading-link svg {
    opacity: 0; 
    transition: opacity 0.3s; 
}

.heading-link:focus svg, .heading-link:hover svg {
    opacity: 1; 
} */

.highlight {
    background-color: white;
    font-weight: 500;
    padding: 10px 30px;
    width: 100%;
    border: 1.7px solid gray;
    margin-top: 30px;
    border-radius: 5px;
}

.highlight-small {
    background-color: white;
    font-weight: 500;
    padding: 10px 20px;
    width: 100%;
    margin-top: 20px;
    border: 1.7px solid gray;
    border-radius: 5px;
    margin-left: 20px;
}

.highlight-small .fake-heading-p,
.highlight .fake-heading-p {
    margin-top: 10px;
}

.highlight h3,
.highlight-small h3 {
    margin-top: 10px;
    margin-bottom: 30px;
}

.highlight p,
.highlight-small p {
    margin-block: 20px;
}

.highlight>p:first-of-type,
.highlight-small>p:first-of-type {
    margin-top: 30px;
}

.hover-pink:hover {
    color: var(--pinkBright-color);
    opacity: 1;
    text-decoration: underline;
}

.hover-underline {
    text-decoration: none;
    position: relative;
    align-self: start;
    cursor: pointer;
}

.hover-underline::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px; 
    background-color: var(--text-dark-color);
    transition: width 0.5s; 
}

.hover-underline:hover::before {
    width: 100%; 
}

.margin-block-0 {
    margin-block: 0;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-right-5 {
    margin-left: 5px;

}
.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-50 {
    margin-top: 50px;
}

.next-article {
    width: 100%;
    display: flex;
    gap: 10px;
}

.next-article a {
    font-size: 0.9rem;
    font-family: inherit;
}

.note {
    display: flex;
    gap: 10px;
}

p {
    /* font-size: 0.9rem; */
    line-height: 2;
    letter-spacing: 0.5px;
    /* font-weight: 500; */
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-left-30 {
    padding-left: 30px;
}

.padding-left-40 {
    padding-left: 40px;
}

.padding-left-60 {
    padding-left: 60px;
}

.padding-left-90 {
    padding-left: 90px;
}

.padding-left-120 {
    padding-left: 120px;
}

.pink-bg {
    background-color: var(--pinkBright-color);
    color: var(--text-light-color);
    font-weight: 600;
    padding: 5px 10px;
}

.pink-bg-white-text {
    background-color: var(--pinkBright-color);
    color: var(--text-light-color);
    padding: 1px 3px;
    border-radius: 2px;
}


.pink-num {
    color: var(--pinkBright-color);
    font-size: 1rem;
    font-weight: 700;
}

.read-next {
    font-weight: 600;
    font-size: 0.9rem;
    /* to match the padding for links */
    padding-block: 2px;
}

.scroll-target::before {
    content: '';
    display: block;
    height: 40px;
    visibility: hidden;
    pointer-events: none;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 0;
}

.section-heading {
    display: flex;
    align-items: center;
    gap: 15px;
}

.section-image img {
    border: 2px solid var(--blue-color);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-number {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.3;
    color: gray;
}

.sr-only {
    position: absolute; 
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px; 
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.stats {
    font-weight: 600;
    padding: 1px 2px;
    border-radius: 3px;
    background-color: var(--grayishBlue-color);
}

.stats-dark-bg {
    font-weight: 600;
    padding: 2px 3px;
    border-radius: 3px;
    background-color: gray;
}

strong,
b {
    letter-spacing: 0.8px;
}

summary {
    cursor: pointer;
    /* padding-left: 10px; */
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.5px;
}

summary::marker {
    color: var(--pinkBright-color);
    font-size: 1.2rem;
    font-weight: 700;
}

.two-line-heading {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    line-height: 1.7;
    margin-bottom: 30px;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

ul[class^="bullet-point-list"] li{
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    line-height: 2;
    letter-spacing: 0.5px;
    position: relative;
    padding-left: 20px;
    margin-block: 10px;
}


ul[class^="bullet-point-list"] li::before {
    content: "•"; 
    color: var(--pinkBright-color);
    font-size: 25px; 
    position: absolute;
    left: -20px; 
    top: -11px;
    padding-left: 20px;
} 

ul[class^="checkmark-list"] li {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 0.9rem;
    line-height: 2;
    letter-spacing: 0.5px;
    margin-block: 10px;
} 

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.warning {
    background-color: var(--lightPink-color);
    font-weight: 500;
    padding: 10px 30px 10px 60px;
    width: 100%;
    border: 1.7px solid var(--pinkBright-color);
    border-radius: 5px;
    position: relative;
    margin-block: 30px;
}

.warning p {
    margin-block: 20px;
}

.warning a {
    color: var(--text-dark-color);
}

.white-bg code {
    background-color: var(--grayishBlue-color);
    padding: 2px 3px;
    border-radius: 3px;
}

.white-bg-dark-text {
    background-color: var(--cream-color);
    color: var(--text-dark-color);
    font-weight: 600;
    padding: 1px 3px;
    border-radius: 2px;
}

.yellow-bg-dark-text {
    background-color: var(--yellowFaded-color);
    color: var(--text-dark-color);
    padding: 1px 3px;
    border-radius: 4px;
}


@media screen and (max-width: 1050px) {
    .article-container {
        grid-template-columns: 1.8fr 1fr; 
        gap: 10px; 
    }
    .section {
        width: 95%;
    }
    .section-heading {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 950px) {
    .article-container h1 {
        font-size: 2.6rem; 
    }
}

@media screen and (max-width: 900px) {
    .article-container {
        display: flex;
        flex-direction: column;
    }

    .article-container h1 {
        font-size: 3rem;
        margin-top: 20px;
    }
    .table-contents {
        position: relative;
        height: auto;
        top: 0;
    }
    .section {
        width: 90%;
    }
}

@media screen and (max-width: 620px) {
    .article-container {
        margin-left: 0;
        padding-inline: var(--main-margin);
        width: 100%;
    }
    .article-container h1 {
        font-size: 2.3rem;
    }
    .section {
        width: 100%;
    }
    .table-contents {
        margin-top: 0;
    }
}

@media screen and (max-width: 510px) {
    .article-container h1 {
        font-size: 2rem;
    }

    .code, .code-small {
        padding-left: 10px;
    }

    .highlight, .highlight-small {
        padding: 10px;
    }

    .warning {
        padding: 30px 10px 10px 15px;
    }
}

@media screen and (max-width: 425px) {
    .article-container h1 {
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 360px) {
    .article-container h1 {
        font-size: 1.4rem;
    }
}

