

.details-title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}


.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.next-article a {
    font-size: 0.9rem;
    font-family: inherit;
}

strong {
    letter-spacing: 0.8px;
}

h2, h3, h4 {
    letter-spacing: 0.5px;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.5rem;
    margin-top: 50px;
}

h4 {
    font-size: 1.2rem;
}

.fake-list-item {
    position: relative;
    padding-left: 20px;
}

.fake-list-item::before {
    content: "•"; 
    color: var(--pinkBright-color);
    font-size: 25px; 
    position: absolute;
    left: -20px; 
    top: -11px;
    padding-left: 20px;
}

.padding-left-30 {
    padding-left: 30px;
}

.padding-left-60 {
    padding-left: 60px;
}

.padding-left-90 {
    padding-left: 90px;
}

.padding-left-120 {
    padding-left: 120px;
}

.blue-text {
    color: blue;
}