
.article-container a,
.about a,
.a11y-statement a {
    /* color: var(--code-blueDark-color);
    color: var(--brightBlue-dark-color); */
    color: var(--text-dark-color);
    letter-spacing: 0.3px;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: var(--code-blueDark-color);
    text-decoration-thickness: 2px;
    /* text-decoration-color: var(--code-blueDark-color); */
    text-underline-offset: 3px;
}

.article-container a:hover,
.about a:hover,
.a11y-statement a:hover {
    color: var(--text-dark-color);
}

.article-content a:hover,
.about a:hover,
.a11y-statement a:hover {
    text-decoration-style: wavy;
    text-decoration-color: var(--code-blueDark-color);
    /* text-decoration-color: var(--hero-darkBlue); */
}

.article-container a:focus-visible,
.about a:focus-visible,
.a11y-statement a:focus-visible {
    text-decoration: none;
}

.article-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 10px;
    padding-bottom: 100px;
    margin-left: var(--main-margin);
}

.article-container .subtitle {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    color: var(--pinkBright-color);
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0.3px;
    /* margin-left: var(--main-margin); */
    /* margin-bottom: 50px; */
}

.article-content {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 0.9rem;
    font-weight: 500;
    width: 39rem;
    max-width: 100%;
    /* overflow-x: hidden; */
    /* margin-left: var(--main-margin); */
}

.article-content h3 {
    /* margin-bottom: 10px; */
    margin-top: 20px;
    color: inherit;
}

.article-heading {
    display: flex;
    flex-direction: column;
}

.article-heading span:nth-of-type(2) {
    align-self: flex-start;
}

.article-heading-desktop {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    margin-top: 30px;
    font-weight: 600;
}

.resources .article-heading-desktop {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    margin-top: 30px;
    font-weight: 600;
}

.resources .article-heading-desktop span,
.article-heading-desktop span {
    align-self: flex-start;
}

.resources .article-heading-mobile,
.article-heading-mobile {
    display: none;
}

.blue-heading {
    align-self: left;
    color: var(--pinkBright-color);
    display: inline-block;
    line-height: 1.1;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.bold {
    font-weight: 600;
}

.border-top {
    border-top: 1.7px solid gray;
    margin-top: 60px;
    padding-top: 30px;
}

.bullet-point-line {
    position: relative;
    padding-left: 20px;
    /* margin-top: 20px; */
}

.bullet-list-item {
    list-style-type: disc;
}

.bullet-point-line::before {
    content: "•"; 
    color: var(--pinkBright-color);
    font-size: 25px; 
    position: absolute;
    left: -20px; 
    top: -9px;
    padding-left: 20px;
}

.checkmark-lines p {
    display: flex;
    gap: 10px;
    line-height: 2;
    letter-spacing: 0.5px;
    margin-block: 10px;
} 

.close-details-button {
    background-color: #a1b0f8;
    border: none;
    color: var(--text-dark-color);
    font-size: 0.9rem;
    font-weight: 600;
    padding: 10px 15px;
    align-self:auto;
    padding-left: 20px;
    cursor: pointer;
}

.close-details-button:focus-visible {
    outline: 3px dashed var(--text-dark-color);
}

.close-details-button:hover {
    background-color: #08196e;
    color: white;
}

.code {
    width: 100%; 
    overflow-x: auto; 
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.5;
    padding: 30px;
    background-color: var(--code-bg-color);
    /* border-radius: 5px; */
    color: var(--cream-color);
    margin-bottom: 30px;
}

.code-no-overflow {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.5;
    padding: 30px;
    background-color: var(--code-bg-color);
    /* border-radius: 5px; */
    color: var(--cream-color);
}



/* .continue-to-article {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1;
    align-self: flex-start;
    text-decoration: none;
    color: var(--text-dark-color);
} */

/* .continue-to-article svg[id="arrow"] circle {
    fill: var(--hero-lightBlue)
}
.continue-to-article svg[id="bug"] {
    display: none; 
  }
  
.continue-to-article:hover svg[id="arrow"] {
    display: none; 
}

.continue-to-article:focus-visible svg[id="arrow"] {
    display: none; 
}

.continue-to-article:hover svg[id="bug"] {
    display: block; 
    fill: var(--pinkBright-color);
}

.continue-to-article:focus-visible svg[id="bug"] {
    display: block; 
    fill: var(--pinkBright-color);
} */

.continue-to-article-container {
    display: flex;
}

.highlight .code {
    width: 100%;
}

.code-small {
    width: 95%;
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    font-weight: 500;
    padding: 25px;
    background-color: var(--code-bg-color);
    color: var(--cream-color);
    margin-bottom: 20px;
    margin-left: 20px;
}

.code code:not(:last-of-type) {
    margin-bottom: 10px;
    color: white;
}

.code-blue-color {
    color: var(--code-blue-color);
}

.code-gray-color {
    color: rgb(169, 167, 167);
}

.code-yellow-color {
    color: var(--code-yellow-color);
}

.code-pink-color {
    color: var(--code-pink-color);
}

.code-purple-color {
    color: var(--code-purple-color);
}


.conclusion {
    margin-top: 40px;
}

.dark-bg-white-text {
    background-color: var(--text-dark-color);
    color: var(--cream-color);
    font-weight: 600;
    padding: 1px 3px;
    border-radius: 2px;
    font-size: 0.8rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

.details-content:not(:has(.code)) {
    max-height: 25rem; 
    overflow-y: auto;
    padding-right: 20px;
}


.external-linksvg-wrap {
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    /* margin-right: 5px; */
}

.external-linksvg-wrap svg {
    fill: var(--code-blueDark-color);
    height: 1rem;
    line-height: 1;
}

/* .external-linksvg-wrap svg path {
    fill: red;
} */

.fake-heading-p {
    font-weight: 700;
    font-size: 1rem;
}

*:focus-visible {
    outline: 3px dashed var(--text-dark-color);
    outline-offset: 2px;
}

.font-size-1 {
    font-size: 1.1rem;
}

.gray-bg code { 
    background-color: #adb5bd;
    color: var(--text-dark-color);
    padding: 2px 3px;
    border-radius: 3px;box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5;
    margin: 0;
}

h2, h3, h4 {
    letter-spacing: 0.5px;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.5rem;
    /* line-height: 1.5; */
    margin-bottom: 0;
}

/* h2, h3 {
    scroll-margin-top: 40px;
} */

h4 {
    font-size: 1.2rem;
    margin-block: 20px;
    line-height: 2;
}

.heading {
    margin-top: 48px;
}

/* .heading-link {
    position: absolute;
    left: -30px;
    top: 2px;
}

.heading-link svg {
    opacity: 0; 
    transition: opacity 0.3s; 
}

.heading-link:focus svg, .heading-link:hover svg {
    opacity: 1; 
} */

.highlight {
    background-color: white;
    font-weight: 500;
    padding: 10px 20px 15px 20px;
    width: 100%;
    border: 1.7px solid gray;
    margin-top: 10px;
    /* border-radius: 5px; */
}

.highlight-no-heading {
    padding: 15px;
}

.highlight-dl {
    overflow-x: auto;
    white-space: nowrap;
}

.highlight-one-line {
    padding: 10px 20px;
    margin-top: 10px;
}

.highlight-small {
    padding: 10px 20px;
    margin-top: 20px;
    margin-left: 20px;
    max-width: fit-content;
}

.highlight-inline {
    padding: 10px 20px;
    margin-top: 20px;
    margin-left: 20px;
    max-width: fit-content;
}

.highlight-small .fake-heading-p,
.highlight .fake-heading-p {
    margin-top: 10px;
}

.highlight h3,
.highlight-small h3 {
    margin-top: 10px;
    margin-bottom: 30px;
}

.highlight p,
.highlight-small p {
    margin-block: 20px;
}

.highlight>p:first-of-type,
.highlight-small>p:first-of-type {
    margin-top: 30px;
}

.hover-pink:hover {
    color: var(--pinkBright-color);
    opacity: 1;
    text-decoration: underline;
}

.hover-underline {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
    /* position: relative;
    align-self: start;
    cursor: pointer; */
}

/* .hover-underline::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px; 
    background-color: var(--text-dark-color);
    transition: width 0.5s; 
}

.hover-underline:hover::before {
    width: 100%; 
} */

li {
    font-weight: 500;
}
.margin-block-0 {
    margin-block: 0;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-right-5 {
    margin-left: 5px;

}
.margin-top-10 {
    margin-top: 10px;
}

.margin-top--10 {
    margin-top: -10px;
}


.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-50 {
    margin-top: 50px;
}

p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 2;
    letter-spacing: -0.1px;
    /* margin-block: 20px; */
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-left-30 {
    padding-left: 30px;
}

.padding-left-40 {
    padding-left: 40px;
}

.padding-left-60 {
    padding-left: 60px;
}

.padding-left-80 {
    padding-left: 80px;
}

.padding-left-90 {
    padding-left: 90px;
}

.padding-left-120 {
    padding-left: 120px;
}

.pink-bg {
    background-color: var(--pinkBright-color);
    color: var(--text-light-color);
    font-weight: 600;
    padding: 5px 10px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

.pink-bg-white-text {
    background-color: var(--pinkBright-color);
    color: var(--text-light-color);
    padding: 1px 4px;
    border-radius: 2px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}


.pink-num {
    color: var(--pinkBright-color);
    font-size: 1rem;
    font-weight: 700;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--text-dark-color) var(--yellowFaded-color);
}


::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-track {
    background: var(--yellowFaded-color); 
}

::-webkit-scrollbar-thumb {
    background-color: var(--text-dark-color);
    border-radius: 6px; 
    border: 3px solid var(--yellowFaded-color);
}

.scroll-target::before {
    content: '';
    display: block;
    height: 40px;
    visibility: hidden;
    pointer-events: none;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 0;
}

.section-heading {
    display: flex;
    align-items: center;
    gap: 15px;
}

.section-image img {
    border: 2px solid var(--blue-color);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-number {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.3;
    color: gray;
}

.sr-only {
    position: absolute;
    border: 0;
    margin: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
}

.stats {
    font-weight: 600;
    padding: 1px 2px;
    border-radius: 3px;
    background-color: var(--grayishBlue-color);
}

.stats-dark-bg {
    font-weight: 600;
    padding: 2px 3px;
    border-radius: 3px;
    background-color: gray;
}

strong,
b {
    letter-spacing: 0.6px;
}

summary {
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.5px;
}

summary::marker {
    color: var(--pinkBright-color);
    font-size: 1.1rem;
    font-weight: 700;
}

.summary-title {
    margin-left: 10px;
    line-height: 1.5;
    /* padding-left: 20px; */
}
.two-line-heading {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    line-height: 1.7;
    margin-bottom: 30px;
}

.two-line-heading span:not[aria-hidden] {
    display: block;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

ul[class^="bullet-point-list"] li{
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.5px;
    position: relative;
    padding-left: 20px;
    margin-block: 10px;
}


ul[class^="bullet-point-list"] li::before {
    content: "•"; 
    color: var(--pinkBright-color);
    font-size: 25px; 
    position: absolute;
    left: -20px; 
    top: -11px;
    padding-left: 20px;
} 


ul[class^="checkmark-list"] li {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.5px;
    /* margin-block: 10px; */
} 

ul[class^="checkmark-list"] li p {
    margin-block: 0;
} 

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.warning {
    background-color: var(--lightPink-color);
    font-weight: 500;
    padding: 10px 30px 10px 60px;
    width: 100%;
    border: 1.7px solid var(--pinkBright-color);
    position: relative;
}

.warning>p {
    margin-block: 20px;
}

.warning li>p {
    margin-block: 0;
}

.warning a {
    color: var(--text-dark-color);
}

.white-bg code {
    background-color: var(--grayishBlue-color);
    padding: 1px 3px;
    border-radius: 3px;
    font-weight: inherit;
    font-size: inherit;
    color: rgb(59, 59, 59);
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    letter-spacing: -0.1px;
}

.white-bg p code {
    background-color: var(--grayishBlue-color);
    padding: 1px 3px;
    padding: 2px 4px;
    border-radius: 3px;
    font-size: 0.9rem;
    font-weight: 500;
    color: rgb(59, 59, 59);
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    letter-spacing: -0.1px;
    /* margin: 1px -1px; */
}

.white-bg-dark-text {
    background-color: var(--cream-color);
    color: var(--text-dark-color);
    font-weight: 600;
    padding: 1px 3px;
    border-radius: 2px;
}

.yellow-bg-dark-text {
    background-color: var(--yellowFaded-color);
    color: var(--text-dark-color);
    padding: 1px 3px;
    border-radius: 4px;
}


@media screen and (max-width: 1050px) {
    .article-container {
        grid-template-columns: 1.8fr 1fr; 
        gap: 10px; 
    }
    .section {
        width: 95%;
    }
}

@media screen and (max-width: 970px) {
    .article-container {
        display: flex;
        flex-direction: column;
       
    }

    .resources .article-heading-desktop,
    .article-heading-desktop {
        font-size: 3rem;
        margin-top: 20px;
        grid-column: 1 / 3;
    }

    .section {
        width: 100%;
    }
}

@media screen and (max-width: 670px) {
    header {
        padding-bottom: 10px;
    }

    .article-container {
       margin-inline: 0;
    }

    .article-content {
        width: 100%;
    }

    .article-container p {
        line-height: 1.7;  
        margin-inline: var(--main-margin);
    }

    summary {
        padding-inline: var(--main-margin);
    }

    .article-container h1 {
        margin-top: 0;
        padding-inline: var(--main-margin);
    }

    .article-container h3 {
        padding-inline: var(--main-margin);
    }

    .article-container h2 {
        padding-inline: var(--main-margin);
    }

    summary h3 {
        padding-inline: 0;
    }

    .highlight summary,
    .two-line-heading {
        padding-inline: var(--main-margin);
    }

    .section-heading {
        flex-direction: column;
        align-items: flex-start;
        padding-inline: var(--main-margin);
    }

    .section-heading h2 {
        padding-inline: 0;
    }

    /* .article-container .subtitle {
        padding-inline: var(--main-margin);
    } */

    details {
        width: 100%;
    }

    .details-content.details-content:not(:has(.code)) {
        padding-right: 0;
    }
     
    .highlight, .highlight-small, .code-keyboard {
        width: 100%;
        padding-inline: 0;
    }

    .code {
        padding-inline: var(--main-margin);
    }
    .highlight:not(.highlight-inline), .highlight-small, .warning {
        border-inline: none;
    }

    .highlight.highlight-inline {
        margin-left: calc(20px + var(--main-margin));
    }
    .highlight h3,
    .highlight h4,
    .conclusion h2,
    .article-content h4 {
        padding-inline: var(--main-margin);
    }

    
    .highlight .warning,
    .highlight-small .warning {
        width: 100%;
        padding-inline: 0;
        margin-inline: 0;
    }
    .warning {
        padding-top: 60px;
        padding-inline: var(--main-margin);
    }

    .warning p {
        margin-inline: var(--main-margin);
    }

    .bullet-point-list {
        padding-inline: var(--main-margin);
    }
    .article-content ul li p {
        margin-inline: 0;
    }
  
    /* iframe {
        width: calc(100% + 2*var(--main-margin));
        margin-inline: calc((-1)*var(--main-margin));
    } */
}

@media screen and (max-width: 620px) {
    /* .article-container {
        margin-left: 0;
        padding-inline: var(--main-margin);
        width: 100%;
    } */

    .resources .article-heading-desktop,
    .article-heading-desktop {
        display: none;
    }

    .resources .article-heading-mobile,
    .article-heading-mobile {
        display: flex;
        flex-direction: column;
        font-size: 3rem;
        margin-top: 30px;
        font-weight: 600;
    }

    .resources .article-heading-mobile span,
    .article-heading-mobile span {
        align-self: flex-start;
    }

    .section {
        width: 100%;
    }
    .table-contents {
        margin-top: 0;
    }
    .highlight-dl {
        padding: 10px;
    }
}

@media screen and (max-width: 530px) {
    .article-container .subtitle {
        line-height: 1.3;
    }
}

@media screen and (max-width: 414px) {
    .similar-different .article-heading-mobile {
        font-size: 2.5rem;
    }  
}
@media screen and (max-width: 365px) {
    .article-heading-mobile {
        font-size: 2.8rem;
    }  
}
