
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */ 

:root {
    --text-light-color: #fff;
    --text-dark-color: #000;
    --blue-color: #1a73c6;
    --dark-blue-color: #1a73e9;
    --orange-color: #fb8500;
    --yellow-color: #ffb703;
    /* --yellow-color: #feb662; */
    --burntYellow-color: #feb662;
    --pink-color: #f38ba3;
    --pinkBright-color: #e60067;
    --red-color: #ae2012;
    --green-color: #0ba95b;
    --purpleLight-color: #d59dff;
    --purple-color: #7b5ea7;
    --lightGray-color: #f6f6f6;
    --gray-color:#808080;
    --heading-bg-color: #1a73e8;
    --main-margin: 96px;
    --max-margin: 120px;
    --navbar-margin: 32px;
    --yellow-border: 3px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--text-light-color);
    color: var(--text-dark-color);
    font-family: "Poppins", sans-serif;
    line-height: 1.1;
    -ms-overflow-style: none;
    scrollbar-width: none;
    min-height: 100vh;
    position: relative;
}

body::-webkit-scrollbar {
    display: none;
}

main {
    padding-top: 5rem;
}

p {
    font-size: 0.9rem;
    line-height: 1.8;
    font-weight: 500;
}

a {
    color: var(--text-dark-color);
}

@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.sr-only {
    position: absolute; 
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px; 
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.page-heading {
    width: 100%;
    background-color: var(--heading-bg-color);
    margin-top: -1rem;
    color: var(--text-light-color);
    padding-inline: var(--main-margin);
    padding-block: 40px;
}

.subheading-div {
    padding-inline: calc(var(--main-margin) - 10px);
    border-left: 10px solid var(--yellow-color);
}

h1 {
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 24px !important;
    padding-top: calc(0.5*var(--main-margin));
}

.blue-heading {
    color: var(--blue-color);
    background-color: inherit;
    align-self: left;
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 1.1;
}

/* looks like a button but is a link */
.site-link {
    text-decoration: none;
    color: var(--text-dark-color);
    font-weight: 500;
    font-size: 1.5rem;
    padding: 12px 15px;
    text-align: center;
    background-color: var(--burntYellow-color);
    cursor: pointer;
}

.site-link:hover {
    background-color: var(--text-dark-color);
    color: var(--text-light-color);
}

*:focus-visible {
    outline: 3px dashed var(--text-dark-color);
    outline-offset: 2px;
}

.read-more {
    color: var(--text-dark-color);
    font-weight: 700;
    font-size: 0.9rem;
}

.hover-underline {
    text-decoration: none;
    position: relative;
    align-self: start;
    cursor: pointer;
}

.hover-underline::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px; 
    background-color: var(--text-dark-color);
    transition: width 0.5s; 
}

.hover-underline:hover::before {
    width: 100%; 
}

.photo-credit {
    position: absolute;
    font-size: 0.8rem;    
    text-align: left;
}

.photo-credit a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    font-weight: 600;
}

.photo-credit--link {
    position: relative;
}

.photo-credit--link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--text-dark-color);
    transition: width 0.8s;
}

.photo-credit--link:hover::before {
    width: 100%;
}

@keyframes moveUpOnLoad {
    from {
        transform: translateY(50px);  
        opacity: 0;
    }
    to {
        transform: translateY(0);  
        opacity: 1;
    }
}

