
:root {
    /* Text */
    --text-light-color: #fff;
    --cream-color: #fbf6ea;
    --cream-color: rgb(251, 246, 234);
    --text-dark-color: #000;
    --text-nav-color: #38393a;
    --blue-color: #1a73c6;
    --pinkBright-color: #de0265;
    --pinkBright-color: rgb(222, 2, 101);
    --pink-for-dark-bg-color: #fc2083; 
    --pink-for-less-dark-bg: #ff47aa;
    --brightBlue-dark-color: #0074c7;
    --brightBlue-light-color: #3888FF;

    /* Margins */
    --main-margin: 50px;
    --navbar-margin: 32px; 

    /* Border */
    --yellow-border: 3px;
    --gray-color:#808080;

    /* Body Bg */
    /* --body-bg-color: #e8e9ec; */

    /* Highlight colors */
    --bg-dark-color: #151f28;
    --bg-dark-color: rgb(21, 31, 40);
    --bg-lessDark-color: #1a2630;
    --bg-darkest-color: #07131f;
    --grayishBlue-color: hsl(233, 12%, 87%);
    --yellow-color: #ffb703;
    --yellow-color: #fcbe22;
    --yellowFaded-color: rgba(255, 183, 3, 0.5);
    --lightGray-color: #f6f6f6;
    --lightCream-color: #f9f7f3;
    --lightPink-color: #ffe9ed;

    /* Code colors */
    --code-bg-color:  #151f28; 
    --code-purple-color: #617bff;
    --code-pink-color: #ef6c9a;
    --code-yellow-color: rgb(255, 214, 0);
    --code-blue-color: #00beff;
    --code-blue-color: #5dd4e1;
    --code-blueDark-color: #3497A2;

    /* Hero Design */
    --hero-lightBlue-faded: rgba(102, 194, 205, 0.8);
    --hero-lightBlue: #66c2cd;
    --hero-darkBlue: #048694;
    --bg-blue: rgba(4, 134, 148, 0.2);
    --bg-blue: rgba(102, 194, 205, 0.4);
    --hero-orange: #f97c28;
    --hero-darkGreen: #377984;
    --hero-pink: #f08eb1;
    --hero-pink: #f5b5a9;

    /* Border radius */
    --border-radius: 5px;

    /* variables for light */
    --beta-border: 1.5px solid var(--hero-pink);
    --heading-color: var(--cream-color);
    --heading-fontweight: 500;
    --outline-thickness: 1.5px;
    --cta-border: none;
    --subtitle-color: var(--cream-color);
    --subtitle-yellow-on-dark: var(--yellow-color);
    --subtitle-fontweight: 400;
    --border-for-dark: 1.5px solid var(--cream-color);
    --body-bg-color: var(--bg-dark-color);
    --paragraph-fontweight: 300;
    --paragraph-font-size: 0.9rem;
    --paragraph-opacity: 1;
    --paragraph-color: var(--cream-color);
    --heading-opacity: 1;
    --in-text-link-color: var(--code-blue-color);
    --pink-heading: var(--pink-for-dark-bg-color);
    --pink-heading-fontweight: 400;
    --highlight-bg-color: var(--bg-lessDark-color);
    --highlight-border: 1.7px solid rgb(167, 165, 165);
    --warning-color: var(--text-dark-color);
    --warning-font-size: 1rem;
    --same-fontweight: 500;
    --same-dark-color: var(--text-dark-color);
    --warning-bg-color: rgba(255, 233, 237, 0.8);
    --yellow-keyboard-bg: var(--hero-pink);
    --always-dark-text: var(--text-dark-color);
    --code-bg-color: var(--bg-darkest-color);
    /* --code-color: rgb(169, 167, 167); */
    --filler-bg: var(--yellow-color);
    --pink-text: var(--cream-color);
    --custom-outline-button-bg: var(--hero-pink);
    --custom-outline-button-color: var(--text-dark-color);
    --custom-outline-button-outline: var(--cream-color);
    --menu-fill: var(--cream-color);
    --always-cream-color: var(--cream-color);
    
}


.blue-text {
    color: blue;
}

.green-text {
    color: rgb(4, 159, 46);
}

/* .pink-text-for-less-dark-bg {
    color: var(--pink-for-less-dark-bg);
    font-size: inherit;
    font-weight: 500;
} */

.pink-text {
    color: var(--pinkBright-color);
}

.yellow-text {
    color: var(--yellow-color);

}

.yellow-bg {
    background-color: var(--yellow-keyboard-bg);
    color: var(--always-dark-text);
    padding: 0 5px;
    border-radius: 10px;
    font-size: inherit;
    font-weight: var(--same-fontweight);
}


@font-face {
    font-family: 'Inter';
    src: url('fonts/static/Inter-VariableFont_slnt,wght.ttf') format('truetype');
    font-weight: 100 900; 
    font-style: oblique 0deg 10deg;
}

@font-face {
    font-family: 'Quicksand';
    src: url('/fonts/quicksand/Quicksand-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('/fonts/quicksand/Quicksand-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('/fonts/quicksand/Quicksand-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Quicksand';
    src: url('/fonts/quicksand/Quicksand-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Quicksand';
    src: url('/fonts/quicksand/Quicksand-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

.bold-text {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

* {
    box-sizing: border-box;
    margin: 0;
}

/* html {
    scroll-behavior: smooth;
} */

body {
    background-color: var(--body-bg-color);
    color: var(--text-dark-color);
    font-family: "Quicksand", sans-serif;
    min-height: 100vh;
    -ms-overflow-style: none;
    position: relative;
    scrollbar-width: none;
}


@media screen and (min-width: 1440px) {
    body {
      max-width: 1440px;
      margin: 0 auto;
    }
    header {
        max-width: 1441px;
    } 
}

@media (max-width: 1250px) {
    :root {
        --main-margin: 20px;
    }  
}

@media (max-width: 600px) {
    :root {
        --main-margin: 15px;
    }  
}

@media (max-width: 450px) {
    :root {
        --main-margin: 13px;
    }  
}

body::-webkit-scrollbar {
    display: none;
}

h1, h2, h3, h4, h5, h6, p {
    overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--heading-color);
}

main {
    padding-top: 5rem;
    width: 100%;
}

@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */ 








