
.not-found-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-block: 20px;
    margin-inline: var(--main-margin);
}

.return-home-link {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1;
    align-self: flex-start;
    text-decoration: none;
    color: var(--text-dark-color);
    padding: 6px 12px;
    border-radius: 10px;
    border: var(--cta-border);
    background-color: var(--yellow-color);
    width: 15rem;
    margin-top: 30px;
    margin-bottom: 100px;
}


.return-home-link svg[id="arrow"] circle {
    fill: var(--text-dark-color);
}

.return-home-link svg[id="arrow"] path {
    fill: white;
}

.return-home-link svg[id="home"] {
    display: none; 
  }
  
.return-home-link:hover svg[id="arrow"] {
    display: none; 
}

.return-home-link:focus-visible svg[id="arrow"] {
    display: none; 
}

.return-home-link:hover svg[id="home"] {
    display: block; 
    fill: var(--text-dark-color);
}

.return-home-link:focus-visible svg[id="home"] {
    display: block; 
    fill: var(--text-dark-color);
}

.poet-question {
    background-color: var(--hero-lightBlue-faded);
    border-radius: 7px;
    padding: 20px;
    width: 37rem;
}   

.quote {
    margin-left: 30px;
    padding-left: 20px;
    border-left: 3px solid var(--text-nav-color);
    margin-top: 20px;
    
}

.quote p {
    font-size: 1.3rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: var(--text-dark-color);
}

@media screen and (max-width: 620px) {
    .poet-question {
        width: 100%;
    }
    .return-home-link {
        width: 19rem;
        padding: 8px 15px;
    }
    
}

@media screen and (max-width: 430px) {
    .quote {
        margin-left: 0;
        padding-left: 10px;
    }
    .quote p {
        font-size: 1.2rem;
    }
    
}

@media screen and (max-width: 370px) {
    .quote p {
        font-size: 1.1rem;
    }
    
}