.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-modal .modal-close-button {
    background-color: transparent;
    padding: 0;
    border: none;
    margin: 0;
    width: 30px;
    height: 30px;
    /* background-image: url(/assets/xmark-solid.svg); */
    background-repeat: no-repeat; 
    background-position: center;
    background-size: 30px 30px;
}

.menu-modal .modal-close-button svg {
    fill: var(--menu-fill);
}

.menu-modal .modal-close-button:focus-visible,
.menu-modal .modal-close-button:hover {
    outline: 2px solid var(--menu-fill);
    outline-offset: 3px;
}

@media screen and (max-width: 450px) {
    .menu-modal .close-button {
        right: calc(0.5*var(--navbar-margin));
    }
}
.menu-modal .primary-navigation {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 1.2rem;
    align-items: start;
}

/* for testing  purposes */
/* .menu-modal .primary-navigation a {
    color: aquamarine;
} */

.mobile-only-link {
    display: block;
}